<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1A154162-B35F-4673-96E9-F3F04D4EE707</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7258C62-9C39-4DAA-A7DB-23025F24862A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7258C62-9C39-4DAA-A7DB-23025F24862A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76F7F8CD-A8B4-4890-A615-6B4D17EFD640</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8B920D02-C5F8-489D-9177-25CEF358A76A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EF02F32F-2097-46D0-8B91-2FC27428B4D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A736F654-3915-4EFF-813F-FD5E6CE44167</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>98D1BF67-B3ED-4C4D-AF21-78004C82B279</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5333932B-66E0-4431-9E1B-B3243AC3A106</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Teachable</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.calimove.com/courses/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>76F7F8CD-A8B4-4890-A615-6B4D17EFD640</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://scotts-bass-lessons.teachable.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EF02F32F-2097-46D0-8B91-2FC27428B4D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>calimove</string>
						<key>outputlabel</key>
						<string>calimove</string>
						<key>uid</key>
						<string>8B920D02-C5F8-489D-9177-25CEF358A76A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sbl</string>
						<key>outputlabel</key>
						<string>sbl</string>
						<key>uid</key>
						<string>A736F654-3915-4EFF-813F-FD5E6CE44167</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ddb</string>
						<key>outputlabel</key>
						<string>ddb</string>
						<key>uid</key>
						<string>5333932B-66E0-4431-9E1B-B3243AC3A106</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A7258C62-9C39-4DAA-A7DB-23025F24862A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"17a3687df85739b87fb32aa68a0995f348bb994a.png","title":"Scott's Bass Lessons","arg":"sbl","subtitle":"Scott's Bass Lessons"},{"imagefile":"f8648c521bc8195d7fb5d4461a724e07848c14ad.png","title":"Discover Double Bass","arg":"ddb","subtitle":"Discover Double Bass"},{"imagefile":"95cf90b998c5b0f7d6d6e7a43fcc558a9748c342.png","title":"CaliMove","arg":"calimove","subtitle":"Calisthentics"}]</string>
				<key>keyword</key>
				<string>teachable</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>teach:able</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>1A154162-B35F-4673-96E9-F3F04D4EE707</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://courses.discoverdoublebass.com/courses</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>98D1BF67-B3ED-4C4D-AF21-78004C82B279</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1A154162-B35F-4673-96E9-F3F04D4EE707</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>76F7F8CD-A8B4-4890-A615-6B4D17EFD640</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>98D1BF67-B3ED-4C4D-AF21-78004C82B279</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>A7258C62-9C39-4DAA-A7DB-23025F24862A</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>EF02F32F-2097-46D0-8B91-2FC27428B4D3</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
