#!/usr/bin/env bash

# easy backup
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'

# Directory Shortcuts
alias docs="cd ~/Documents"
alias down="cd ~/Downloads"
alias dev="cd ~/Developer"
alias desk="cd ~/Desktop"
alias dot="cd ~/.dotfiles"

# don't use vim
alias vim="nvim"

# bat
alias cat=bat

# quick accesss to configs
alias wezconf="cd ~/.dotfiles/wezterm/.config/wezterm; vim wezterm.lua"
alias vimconf="cd ~/.dotfiles/nvim/.config/nvim; vim README.md"
alias karaconf="vim ~/.dotfiles/karabiner/.config"
alias aliasconf="vim ~/.dotfiles/aliases/.config/aliases/.aliases"

# work on Firefox
alias fxios="cd ~/Developer/firefox-ios; vim README.md"

# Updates
syncCall() {
  if [ $# -eq 0 ]; then
    echo "Warning: sync requires at least one argument to run."
    echo "Please provide one of the following arguments:"
    echo "   -b   runs brew update, upgrade, and clean"
    echo "   -r   syncs all available personal repos"
    echo "   -d   syncs & stows dotfiles"
    echo "   -----------------------------------------"
    echo "   -a   performs all of the above operations"
    return 1
  fi

  $HOME/.dotfiles/.meta/Scripts/machineSynchronize.sh "$@"
}

alias sync='syncCall'

# Cheatsheet
cheatsheet() {
  echo "+++ adudenamedruby sys cheatsheet +++"
  echo " -> fd      - instead of find"
  echo " -> rg      - instead of grep"
  echo " -> sd      - instead of sed"
  echo " -> choose  - instead of cut/awk"
  echo " -> ouch    - unarchiver, basically"
  echo " -> grex    - regex generator of sorts"
}

alias cheatsheet="cheatsheet"

# ls aliases
alias la="lsd -l --git -a"
alias ll="lsd -l --git -h"
alias lla="lsd -l --git -h -a"
alias lt="lsd -l --git -a --tree --depth=2"
alias ltree="lsd -tree --depth=2"

# take functions

# mkcd is equivalent to takedir
function mkcd takedir() {
  mkdir -p $@ && cd ${@:$#}
}

function takeurl() {
  local data thedir
  data="$(mktemp)"
  curl -L "$1" >"$data"
  tar xf "$data"
  thedir="$(tar tf "$data" | head -n 1)"
  rm "$data"
  cd "$thedir"
}

function takegit() {
  git clone "$1"
  cd "$(basename ${1%%.git})"
}

function take() {
  if [[ $1 =~ ^(https?|ftp).*\.(tar\.(gz|bz2|xz)|tgz)$ ]]; then
    takeurl "$1"
  elif [[ $1 =~ ^([A-Za-z0-9]\+@|https?|git|ssh|ftps?|rsync).*\.git/?$ ]]; then
    takegit "$1"
  else
    takedir "$@"
  fi
}

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Show active network interfaces
alias shownactivenetwork="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Recursively delete `.DS_Store` files
alias dsstorecleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
alias clearsystemlogs="sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
# alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
# alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
# alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
# alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Disable Spotlight
alias spotlightoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spotlighton="sudo mdutil -a -i on"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
