.DS_Store
/bin/.local/*
!/bin/.local/myScripts
!/zsh/.config/zsh/.zprofile
!/zsh/.config/zsh/.zshrc
/zsh/.config/zsh/*
/emacs/.emacs.d/*
.meta/tmux/.config/tmux/plugins/*
!/emacs/.emacs.d/tree-sitter
!/emacs/.emacs.d/init.el
!/emacs/.emacs.d/early-init.el
!/emacs/.emacs.d/synthmacs.org
!/emacs/.emacs.d/synthmacs/
!/emacs/.emacs.d/synthmacs/*
!/emacs/.emacs.d/synthmacs/assets/
!/emacs/.emacs.d/synthmacs/assets/*
/zed/.config/zed/cache/
/zed/.config/zed/sessions/
/zed/.config/zed/logs/
/zed/.config/zed/crash-reports/
/zed/.config/zed/prompts/
jj/.config/jj/repos/
