.DS_Store
/bin/.local/*
!/bin/.local/myScripts
/zsh/.config/zsh/.zsh_history
/zsh/.config/zsh/.zcompdump
/zsh/.config/zsh/.zcompcache/
/zsh/.config/zsh/.zsh_sessions/
/emacs/.emacs.d/*
/tmux/.config/tmux/plugins/*
!/emacs/.emacs.d/tree-sitter
!/emacs/.emacs.d/init.el
!/emacs/.emacs.d/early-init.el
!/emacs/.emacs.d/synthmacs.org
!/emacs/.emacs.d/synthmacs/
!/emacs/.emacs.d/synthmacs/*
!/emacs/.emacs.d/synthmacs/assets/
!/emacs/.emacs.d/synthmacs/assets/*
