#!/usr/bin/env bash

# Shortcuts
alias docs="cd ~/Documents"
alias downloads="cd ~/Downloads"
alias dev="cd ~/Developer"
alias desktop="cd ~/Desktop"
alias dotfiles="cd ~/.dotfiles"
alias vim="nvim"

#keeping my stuff in sync
synchronize () {
    cd ..
    echo "Synchonizing presonal repos"
    echo "+++++++++ Syncing ~/.dotfiles +++++++++"
    cd ~/.dotfiles
    git stash
    git pull
    git stash pop
    # cp ~/Library/Developer/Xcode/UserData/KeyBindings/adudenamedruby.idekeybindings ~/.dotfiles/XcodePreferences/
    git add .
    git commit -m "Update dotfiles"
    git push
    # mv -f ~/.dotfiles/XcodePreferences/adudenamedruby.idekeybindings ~/Library/Developer/Xcode/UserData/KeyBindings/
    echo "+++++++++ Syncing ExoCortex +++++++++"
    cd ~/Developer/ExoCortex
    git stash
    git pull
    git stash pop
    git add .
    git commit -m "Update exocortex"
    git push
    echo "+++++++++ Syncing Learn2Code +++++++++"
    cd ~/Developer/Learn2Code
    git stash
    git pull
    git stash pop
    git add .
    git commit -m "Update learning repo"
    git push
    cd
    echo "Finished synchonizing presonal repos"
}

updateBrew() {
    brew update
    brew upgrade
    brew cleanup
}

updateSpacemacs() {
    echo "+++++++++ Updating Spacemacs +++++++++"
    dirs -c
    pushd ~/.emacs.d
    git pull
    popd
}

alias ls=lsd
alias updateBrew="updateBrew"
alias updateSpacemacs="updateSpacemacs"

alias sync="updateSpacemacs; updateBrew; synchronize"

# Get week number
alias week='date +%V'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Show active network interfaces
alias shownactivenetwork="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Recursively delete `.DS_Store` files
alias dsstorecleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
alias clearsystemlogs="sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
# alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
# alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
# alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
# alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Disable Spotlight
alias spotlightoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spotlighton="sudo mdutil -a -i on"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
