<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>7993D0AF-9339-46BE-B399-C6A223A319EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEC13C30-1E97-4A4A-86CE-DA8608579335</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABF3D847-EE23-4FE6-8423-F19EA694E4A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0CB81D1-13A2-4948-80CF-A96465C2E41F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>58E6CADC-3764-4A33-B59E-4658B9B68569</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9030676-3967-49F0-AA9C-8077DA6916BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABF3D847-EE23-4FE6-8423-F19EA694E4A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEC13C30-1E97-4A4A-86CE-DA8608579335</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>837DF904-9EDC-434A-B387-B0AD2733471F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9DBC7E6D-49A7-4C72-ADE4-26537BBE3485</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B14D183-CD35-4FBE-95C6-9E11FC6D266D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F1E0741D-CA4F-4F7E-AB77-FEEF2BBC4AFD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72BFDAEC-5110-4539-9BF2-41F11552C42C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B37DEE87-1DA5-42AE-A67F-96790E670952</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>25326263-E1D9-485C-A19F-A073D835F4FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0B7673C1-5B79-4337-BFAF-A52923D65FEB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F89BF6B8-D55A-4021-BEB1-DC5ACE4C8ACD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3928119E-B5BF-41B7-AB8D-5AF002D123CA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8B02F2B7-B7C6-4BD3-A8CC-16471AD32D89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5B28B391-C643-4816-AA71-2266517ED765</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E1A3753-9CFF-412C-B913-80CA45271CBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DE39EB17-4322-4B44-8955-31D81460574E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F9030676-3967-49F0-AA9C-8077DA6916BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8EEDAAA0-B025-4569-A770-E56AD1DE3399</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Different servers where to play GO</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Go</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://online-go.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>837DF904-9EDC-434A-B387-B0AD2733471F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://colorgoserver.com/play</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6B14D183-CD35-4FBE-95C6-9E11FC6D266D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ogs</string>
						<key>outputlabel</key>
						<string>ogs</string>
						<key>uid</key>
						<string>9DBC7E6D-49A7-4C72-ADE4-26537BBE3485</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cgs</string>
						<key>outputlabel</key>
						<string>cgs</string>
						<key>uid</key>
						<string>F1E0741D-CA4F-4F7E-AB77-FEEF2BBC4AFD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>kgs</string>
						<key>outputlabel</key>
						<string>kgs</string>
						<key>uid</key>
						<string>B37DEE87-1DA5-42AE-A67F-96790E670952</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>tygem</string>
						<key>outputlabel</key>
						<string>tygem</string>
						<key>uid</key>
						<string>0B7673C1-5B79-4337-BFAF-A52923D65FEB</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>katrain</string>
						<key>outputlabel</key>
						<string>katrain</string>
						<key>uid</key>
						<string>8EEDAAA0-B025-4569-A770-E56AD1DE3399</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>osr</string>
						<key>outputlabel</key>
						<string>osr</string>
						<key>uid</key>
						<string>3928119E-B5BF-41B7-AB8D-5AF002D123CA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>igs</string>
						<key>outputlabel</key>
						<string>igs</string>
						<key>uid</key>
						<string>5B28B391-C643-4816-AA71-2266517ED765</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cga</string>
						<key>outputlabel</key>
						<string>cga</string>
						<key>uid</key>
						<string>DE39EB17-4322-4B44-8955-31D81460574E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FEC13C30-1E97-4A4A-86CE-DA8608579335</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://shin.gokgs.com/chat</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>72BFDAEC-5110-4539-9BF2-41F11552C42C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"7d7eed5807ed7f2869286b3af0e9f85f1fe58d69.png","title":"cgs","arg":"cgs","subtitle":"Color Go Server"},{"title":"ogs","arg":"ogs","subtitle":"online-go.com"},{"imagefile":"64ea12edfc1c0377cd464a22efb2e847069d349b.png","title":"kgs","arg":"kgs","subtitle":"gokgs.com"},{"imagefile":"d8e4f556b5e941efdd78f50342ddcb2d1513d13f.png","title":"tygem","arg":"tygem","subtitle":"TYGEMGO"},{"imagefile":"d901b3899f011d8b5ee47e4f212257703010310c.png","title":"KaTrain","arg":"katrain","subtitle":"Katago based GO training"},{"imagefile":"d9268a2df3cd67e278b53ef8c65b1d2edaa2b1a9.png","title":"osr","arg":"osr","subtitle":"Open Study Room"},{"imagefile":"f93bcadffa9caa2f8e36b51a957608a1784b7648.png","title":"igs","arg":"igs","subtitle":"Internet Go School"},{"title":"cga","arg":"cga","subtitle":"Canadian Go Association"}]</string>
				<key>keyword</key>
				<string>go</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>7993D0AF-9339-46BE-B399-C6A223A319EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.tygemgo.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>25326263-E1D9-485C-A19F-A073D835F4FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://openstudyroom.org/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F89BF6B8-D55A-4021-BEB1-DC5ACE4C8ACD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://canadiango.org/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3E1A3753-9CFF-412C-B913-80CA45271CBB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://internetgoschool.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8B02F2B7-B7C6-4BD3-A8CC-16471AD32D89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/KaTrain.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>C0CB81D1-13A2-4948-80CF-A96465C2E41F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo $(id -u -n | tr -d '\r')</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9030676-3967-49F0-AA9C-8077DA6916BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>home</string>
						<key>outputlabel</key>
						<string>home</string>
						<key>uid</key>
						<string>58E6CADC-3764-4A33-B59E-4658B9B68569</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>work</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>ABF3D847-EE23-4FE6-8423-F19EA694E4A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>25326263-E1D9-485C-A19F-A073D835F4FF</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>3E1A3753-9CFF-412C-B913-80CA45271CBB</key>
		<dict>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>6B14D183-CD35-4FBE-95C6-9E11FC6D266D</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>72BFDAEC-5110-4539-9BF2-41F11552C42C</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>7993D0AF-9339-46BE-B399-C6A223A319EC</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>837DF904-9EDC-434A-B387-B0AD2733471F</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>8B02F2B7-B7C6-4BD3-A8CC-16471AD32D89</key>
		<dict>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>ABF3D847-EE23-4FE6-8423-F19EA694E4A2</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>C0CB81D1-13A2-4948-80CF-A96465C2E41F</key>
		<dict>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>F89BF6B8-D55A-4021-BEB1-DC5ACE4C8ACD</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>F9030676-3967-49F0-AA9C-8077DA6916BB</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>FEC13C30-1E97-4A4A-86CE-DA8608579335</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
