<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.firefingers21.zenbookmarks</string>
	<key>connections</key>
	<dict>
		<key>00D2DE34-C4E0-4933-A04A-CFAA8B4F7946</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD24E5EC-FE8D-4105-9A4B-82F1F565BE49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>04B5A58B-0AA8-4F8A-ACBD-4AC709DC09CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD24E5EC-FE8D-4105-9A4B-82F1F565BE49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1548B684-9B57-4C83-889B-7AB17368732A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0EB740F-5590-4BEA-AD30-5FC6944D1D8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2632A583-2FC4-4B53-A86A-E1CB5393845F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD24E5EC-FE8D-4105-9A4B-82F1F565BE49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54226B46-76B4-420C-A3A4-E1CF01EE0BA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD24E5EC-FE8D-4105-9A4B-82F1F565BE49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64D99BDC-7828-4807-8F9A-23AE224E9E39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1B365EF-BB47-41C8-B305-4FF9CE4F434B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84C707B7-F9D7-4CF2-9AD1-C73C9086055D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F237951A-300A-4DAC-A7AB-CC69BEF8CC93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0EB740F-5590-4BEA-AD30-5FC6944D1D8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00D2DE34-C4E0-4933-A04A-CFAA8B4F7946</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54226B46-76B4-420C-A3A4-E1CF01EE0BA9</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string>⇧⌘↩ Open in primary browser without closing Alfred</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>E1B365EF-BB47-41C8-B305-4FF9CE4F434B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77E0F242-EF4F-49EE-B767-B55851F84C6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>666B620F-A174-4A1A-80E4-40B51E14AAC4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>94A76A92-67A6-439F-866A-1ADB8A6E20A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F237951A-300A-4DAC-A7AB-CC69BEF8CC93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2632A583-2FC4-4B53-A86A-E1CB5393845F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>04B5A58B-0AA8-4F8A-ACBD-4AC709DC09CB</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string>⇧⌘↩ Open in primary browser without closing Alfred</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FireFingers21</string>
	<key>description</key>
	<string>Search Zen bookmarks &amp; history</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zen Bookmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:bookmarks_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search Zen bookmarks</string>
				<key>title</key>
				<string>Search Bookmarks...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D0EB740F-5590-4BEA-AD30-5FC6944D1D8F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1548B684-9B57-4C83-889B-7AB17368732A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>00D2DE34-C4E0-4933-A04A-CFAA8B4F7946</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>54226B46-76B4-420C-A3A4-E1CF01EE0BA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Specify system default browser to handle opening files
default_browser="$(plutil -convert json "${HOME}/Library/Preferences/com.apple.LaunchServices/com.apple.launchservices.secure.plist" -o - | jq -r '.LSHandlers[] | select(.LSHandlerURLScheme == "https").LSHandlerRoleAll')"

# Secondary browser selection
[[ "${bSecondary}" &amp;&amp; -n "${browser2}" ]] &amp;&amp; browser="${browser2}"

# Primary browser selection
[[ -z "${browser}" ]] &amp;&amp; open -b "${default_browser}" "${1}" || open -b "${browser}" "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD24E5EC-FE8D-4105-9A4B-82F1F565BE49</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>84C707B7-F9D7-4CF2-9AD1-C73C9086055D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>2632A583-2FC4-4B53-A86A-E1CB5393845F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:history_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>history.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search Zen history</string>
				<key>title</key>
				<string>Search History...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F237951A-300A-4DAC-A7AB-CC69BEF8CC93</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>04B5A58B-0AA8-4F8A-ACBD-4AC709DC09CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Bundle ID is the same for Browser and Twilight as of writing
open -b "app.zen-browser.zen" "about:profiles"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77E0F242-EF4F-49EE-B767-B55851F84C6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:bookmarks_keyword}::||{var:bookmarks_keyword} ::||{var:history_keyword}::</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>configuration.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>64D99BDC-7828-4807-8F9A-23AE224E9E39</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:pref_id}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>profileManager</string>
						<key>outputlabel</key>
						<string>profileMGMT</string>
						<key>uid</key>
						<string>666B620F-A174-4A1A-80E4-40B51E14AAC4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E1B365EF-BB47-41C8-B305-4FF9CE4F434B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>94A76A92-67A6-439F-866A-1ADB8A6E20A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup

This workflow requires [jq](https://jqlang.github.io/jq/) to function, which comes preinstalled on macOS 15 Sequoia and later.

## Usage

Search for your [Zen](https://zen-browser.app/) bookmarks via the `bm` keyword. Type to refine your search.

![Searching for Zen bookmarks](images/about/keyword.png)

Bookmarks are always searchable by Name, while filtering by Description, Keyword, URL, and Tag is configurable from the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

![Narrowing search for Zen bookmarks](images/about/tagFilter.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open bookmark in primary browser.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open in primary browser without closing Alfred.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open bookmark in secondary browser.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;L&lt;/kbd&gt; View all tags and full URL in Large Type.
* &lt;kbd&gt;⇧&lt;/kbd&gt; Hold to show bookmark description.

Search your Zen history via the `bh` keyword. History entries are searchable by Name and URL.

![Searching Zen history](images/about/history.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open entry in primary browser.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open in primary browser without closing Alfred.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open entry in secondary browser.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;L&lt;/kbd&gt; View full Date and URL in Large Type.

The Zen Twilight build is also supported. The Workflow's icon colours, bookmarks, and history will change based on the [configured](https://www.alfredapp.com/help/workflows/user-configuration/) Release Channel.

![Searching for Zen bookmarks using Nightly](images/about/otherBuilds.png)

Append `::` to the configured [Keyword](https://www.alfredapp.com/help/workflows/inputs/keyword) to access other actions, including opening the [Zen Profile Manager](https://support.mozilla.org/kb/profile-manager-create-remove-switch-firefox-profiles). Bookmarks and history are only indexed from the default profile, which can be changed from the Profile Manager in each Zen build.

![Other actions](images/about/inlineSettings.png)

Configure the [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) as shortcuts for searching your bookmarks and history.

Bookmarks with the tag `Exclude-Alfred` will be hidden from search. This tag is case sensitive.

**Note**: Due to a Zen limitation, bookmark &amp; history changes may take time to appear in Alfred. Restarting Zen will make all changes appear immediately.</string>
	<key>uidata</key>
	<dict>
		<key>00D2DE34-C4E0-4933-A04A-CFAA8B4F7946</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>04B5A58B-0AA8-4F8A-ACBD-4AC709DC09CB</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>1548B684-9B57-4C83-889B-7AB17368732A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>2632A583-2FC4-4B53-A86A-E1CB5393845F</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>54226B46-76B4-420C-A3A4-E1CF01EE0BA9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>64D99BDC-7828-4807-8F9A-23AE224E9E39</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Configuration</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>77E0F242-EF4F-49EE-B767-B55851F84C6F</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>84C707B7-F9D7-4CF2-9AD1-C73C9086055D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>94A76A92-67A6-439F-866A-1ADB8A6E20A7</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>D0EB740F-5590-4BEA-AD30-5FC6944D1D8F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Bookmarks Keyword</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>E1B365EF-BB47-41C8-B305-4FF9CE4F434B</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>F237951A-300A-4DAC-A7AB-CC69BEF8CC93</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>History Keyword</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>FD24E5EC-FE8D-4105-9A4B-82F1F565BE49</key>
		<dict>
			<key>note</key>
			<string>Open URL</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bm</string>
				<key>placeholder</key>
				<string>bm</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Bookmarks Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bookmarks_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bh</string>
				<key>placeholder</key>
				<string>bh</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keywords for searching bookmarks &amp; history.</string>
			<key>label</key>
			<string>History Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>history_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Search by Description</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Filters</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useDesc</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Search by Keyword</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useKeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Search by URL</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useURL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Search by Tag</string>
			</dict>
			<key>description</key>
			<string>Prefixing words with # filters by Tag.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useTag</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show all Tags in subtitle</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Appearance</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>showAllTags</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable Quick Look</string>
			</dict>
			<key>description</key>
			<string>Tap shift or ⌘Y to Quick Look bookmarks &amp; history.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useQL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>System Default</string>
						<string></string>
					</array>
					<array>
						<string>Chromium</string>
						<string>org.chromium.Chromium</string>
					</array>
					<array>
						<string>Firefox</string>
						<string>org.mozilla.firefox</string>
					</array>
					<array>
						<string>Google Chrome</string>
						<string>com.google.Chrome</string>
					</array>
					<array>
						<string>Microsoft Edge</string>
						<string>com.microsoft.edgemac</string>
					</array>
					<array>
						<string>Opera</string>
						<string>com.operasoftware.Opera</string>
					</array>
					<array>
						<string>Orion</string>
						<string>com.kagi.kagimacOS</string>
					</array>
					<array>
						<string>Safari</string>
						<string>com.apple.Safari</string>
					</array>
					<array>
						<string>Zen</string>
						<string>app.zen-browser.zen</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Primary browser for opening bookmarks &amp; history.</string>
			<key>label</key>
			<string>Default Browsers</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>browser</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>&lt;None&gt;</string>
						<string></string>
					</array>
					<array>
						<string>Chromium</string>
						<string>org.chromium.Chromium</string>
					</array>
					<array>
						<string>Firefox</string>
						<string>org.mozilla.firefox</string>
					</array>
					<array>
						<string>Google Chrome</string>
						<string>com.google.Chrome</string>
					</array>
					<array>
						<string>Microsoft Edge</string>
						<string>com.microsoft.edgemac</string>
					</array>
					<array>
						<string>Opera</string>
						<string>com.operasoftware.Opera</string>
					</array>
					<array>
						<string>Orion</string>
						<string>com.kagi.kagimacOS</string>
					</array>
					<array>
						<string>Safari</string>
						<string>com.apple.Safari</string>
					</array>
					<array>
						<string>Zen</string>
						<string>app.zen-browser.zen</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Secondary browser for opening bookmarks &amp; history.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>browser2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>zen</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Zen</string>
						<string>zen</string>
					</array>
					<array>
						<string>Twilight</string>
						<string>zenTwilight</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Select your installed Zen build.</string>
			<key>label</key>
			<string>Release Channel</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>releaseChannel</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2026.4</string>
	<key>webaddress</key>
	<string>https://github.com/FireFingers21/alfred-zen-bookmarks</string>
</dict>
</plist>
