<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>01646D32-AF34-4B04-B323-0CEA3F3F07BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDAA5B18-06CE-4186-8597-56095AD2420F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>081644DF-F76C-445B-94FC-4C12C348FBB1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>342E8085-C0E4-4DFB-9427-D3718A09CB1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D097E8BD-D3E5-4185-B3FE-CB1996BEAB93</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7E239FE7-76CE-498F-A764-D294088467FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>15E53EBE-32B8-47E6-B21B-E70BEAB95460</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22C7A7A3-1DA2-48B5-BBAC-1B29F79ABDC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92604862-9C52-4EDA-91B5-D8B8C2E262EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A44A6CEA-4B2E-4729-B377-4C09B53D5F59</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9C70649F-7BD9-45DE-B2CF-5531C446C7F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B5E0F4EE-92D3-454A-BC72-25D3E93D9C6E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5455AA60-DEF0-4710-A627-5C491EC6EE48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22C7A7A3-1DA2-48B5-BBAC-1B29F79ABDC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72E5EE8A-CC5F-4141-8907-8AEA922B8FBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66F7124B-F562-4F3A-9628-90B5F84177F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>081644DF-F76C-445B-94FC-4C12C348FBB1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>50177FDD-E318-47EE-8B77-B23B275C6DF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D097E8BD-D3E5-4185-B3FE-CB1996BEAB93</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92604862-9C52-4EDA-91B5-D8B8C2E262EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01646D32-AF34-4B04-B323-0CEA3F3F07BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C70649F-7BD9-45DE-B2CF-5531C446C7F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72E5EE8A-CC5F-4141-8907-8AEA922B8FBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Tools to learn code better</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://overthewire.org/wargames/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FDAA5B18-06CE-4186-8597-56095AD2420F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>overthewire</string>
						<key>outputlabel</key>
						<string>overthewire</string>
						<key>uid</key>
						<string>081644DF-F76C-445B-94FC-4C12C348FBB1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>tryhackme</string>
						<key>outputlabel</key>
						<string>tryhackme</string>
						<key>uid</key>
						<string>D097E8BD-D3E5-4185-B3FE-CB1996BEAB93</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>hackthebox</string>
						<key>outputlabel</key>
						<string>hackthebox</string>
						<key>uid</key>
						<string>15E53EBE-32B8-47E6-B21B-E70BEAB95460</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>01646D32-AF34-4B04-B323-0CEA3F3F07BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://tryhackme.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>342E8085-C0E4-4DFB-9427-D3718A09CB1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"e08ca838141ef933fba95a4598903fe763df37e0.png","title":"OverTheWire: Wargames","arg":"overthewire"},{"title":"Try Hack Me","arg":"tryhackme"},{"imagefile":"2385e534bb9b30aa3c5118ebefa0bb476da4d6ce.png","title":"Hack the Box","arg":"hackthebox"}]</string>
				<key>keyword</key>
				<string>security</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>92604862-9C52-4EDA-91B5-D8B8C2E262EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.hackthebox.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7E239FE7-76CE-498F-A764-D294088467FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://leetcode.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>66F7124B-F562-4F3A-9628-90B5F84177F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"2555cbd8d5d6d67f5735d6ddf7920ea3ae2f6a33.png","title":"Cybersecurity","arg":"security","subtitle":"CTF style problems"},{"imagefile":"5db7d55f3b8e483fa0584b9f315fba540aaba754.png","title":"Challenges","arg":"challenges","subtitle":"Code challenges"}]</string>
				<key>keyword</key>
				<string>code</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>5455AA60-DEF0-4710-A627-5C491EC6EE48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>security</string>
						<key>outputlabel</key>
						<string>security</string>
						<key>uid</key>
						<string>A44A6CEA-4B2E-4729-B377-4C09B53D5F59</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>challenges</string>
						<key>outputlabel</key>
						<string>challenges</string>
						<key>uid</key>
						<string>B5E0F4EE-92D3-454A-BC72-25D3E93D9C6E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>22C7A7A3-1DA2-48B5-BBAC-1B29F79ABDC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>leetcode</string>
						<key>outputlabel</key>
						<string>leetcode</string>
						<key>uid</key>
						<string>081644DF-F76C-445B-94FC-4C12C348FBB1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>adventofcode</string>
						<key>outputlabel</key>
						<string>adventofcode</string>
						<key>uid</key>
						<string>D097E8BD-D3E5-4185-B3FE-CB1996BEAB93</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>72E5EE8A-CC5F-4141-8907-8AEA922B8FBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[]</string>
				<key>keyword</key>
				<string>challenges</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>9C70649F-7BD9-45DE-B2CF-5531C446C7F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://adventofcode.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>50177FDD-E318-47EE-8B77-B23B275C6DF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01646D32-AF34-4B04-B323-0CEA3F3F07BD</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>22C7A7A3-1DA2-48B5-BBAC-1B29F79ABDC0</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>342E8085-C0E4-4DFB-9427-D3718A09CB1F</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>50177FDD-E318-47EE-8B77-B23B275C6DF9</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>5455AA60-DEF0-4710-A627-5C491EC6EE48</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>66F7124B-F562-4F3A-9628-90B5F84177F5</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>72E5EE8A-CC5F-4141-8907-8AEA922B8FBC</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>7E239FE7-76CE-498F-A764-D294088467FD</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>92604862-9C52-4EDA-91B5-D8B8C2E262EC</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>9C70649F-7BD9-45DE-B2CF-5531C446C7F4</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>FDAA5B18-06CE-4186-8597-56095AD2420F</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
