"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[ui]
paginate = "never"
default-command = "log"

[user]
name = "roux g. buciu"
email = "github@adudenamedruby.com"

[templates]
git_push_bookmark = '"rgb/" ++ change_id.short()'

[aliases]
fetch = ["git", "fetch"]

pull = ["util", "exec", "--", "bash", "-c", """
closest="$(jj log -r 'closest_bookmark(@)' -n 1 -T 'bookmarks' --no-graph | cut -d ' ' -f 1)"
closest="${closest%\\*}"
jj git fetch
jj log -n 1 -r "${closest}" 2>&1 > /dev/null && jj rebase -d "${closest}" || jj rebase -d 'trunk()'
jj log
"""]

push = [
  "util", "exec", "--", "bash", "-euo", "pipefail", "-c", """
  remote="origin"
  ticket=""
  mode="existing"

  # Parse args
  while [[ $# -gt 0 ]]; do
    case "$1" in
      -r|--remote)
        remote="$2"; shift 2 ;;
      -t|--ticket)
        ticket="$2"; mode="new"; shift 2 ;;
      --ticket=*)
        ticket="${1#*=}"; mode="new"; shift 1 ;;
      -n|--new)
        mode="new"; shift 1 ;;
      -h|--help)
        echo "Usage: jj push [OPTIONS]"
        echo
        echo "No flags: tug + push + track"
        echo "-n, --new           Create and push a new rgb/<random> bookmark."
        echo "-t, --ticket N  Use rgb/N-<random> as the bookmark name (implies --new)"
        echo "-r, --remote R  Remote name (default: origin)"
        exit 0 ;;
      *)
        echo "Unknown argument: $1" >&2
        exit 1 ;;
    esac
  done

  # new mode
  if [[ "$mode" == "new" ]]; then
    base="$(~/.local/myScripts/jj-random-branch)"
    if [[ -n "$ticket" ]]; then
      name="rgb/${ticket}-${base}"
    else
      name="rgb/${base}"
    fi

    set -- # clear args so nothing leaks into jj git push
    exec jj git push --remote "$remote" --named "${name}=@"
  fi

# push mode
# ensure there is a current bookmark
  closest="$(jj log -r 'closest_bookmark(@)' -n 1 -T 'bookmarks' --no-graph | cut -d ' ' -f 1)"
  closest="${closest%\\*}"

  if [[ -z "$closest" ]]; then
    echo "Error: No current bookmark." >&2
    echo "Create one (e.g. 'jj bookmark create rgb/...') or run 'jj push --new'." >&2
    exit 1
  fi

  # tug, first
  tuggable="$(jj log -r 'closest_bookmark(@)..closest_pushable(@)' -T '"n"' --no-graph)"
  if [[ -n "$tuggable" ]]; then
    jj tug
  fi

  # if ahead of remote, push; otherwise say there's nothing to push
  pushable="$(jj log -r 'remote_bookmarks(remote=origin)..@' -T 'bookmarks' --no-graph)"
  if [[ -n "$pushable" ]]; then
    jj git push
  else
    echo "Nothing to push."
  fi

  # ensure current bookmark is tracking origin
  tracked="$(jj bookmark list -r ${closest} -t -T 'if(remote == "origin", name)')"
  if [[ "$tracked" != "$closest" ]]; then
    jj bookmark track "${closest}@origin"
  fi

  """, "push"
]

tug = ["bookmark", "move", "--from", "closest_bookmark(@)", "--to", "closest_pushable(@)"]

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'
