<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0D1FD25C-D8CC-42C9-9416-23B4A57D228E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3705A618-6F5C-45B0-8907-FEE643CACABE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24BA330E-0896-410A-88FA-36BC77EE9DA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68441686-7C1A-45E4-9E6D-B3338DAAE3C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68441686-7C1A-45E4-9E6D-B3338DAAE3C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D1FD25C-D8CC-42C9-9416-23B4A57D228E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A022330-97FF-4665-B2CB-E37FA6B92DCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78B876B8-1D45-4284-9191-C653AE23C48B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70C77728-874F-43A0-A801-89490AD44D1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEC1EED9-9BF1-4BB9-9A8D-56268487228A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7265329B-9C6F-48F3-A25A-ED0FB90FF81B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F95CA534-6F98-4619-ABF4-638EF9D692E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78B876B8-1D45-4284-9191-C653AE23C48B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55CFDF9A-0AF6-4D9D-9502-030775852E23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C2D4636-4283-4717-ACD5-71711DBF4968</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BA4DB80-E89A-433A-A11B-0824356795CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>885E725B-04C0-48EF-B673-D2C86B85ED09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7265329B-9C6F-48F3-A25A-ED0FB90FF81B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DB4BD8E-EBD5-4DB0-ACC5-5406B678F640</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF4722E4-E762-4A63-89FE-8307C9E92939</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BA4DB80-E89A-433A-A11B-0824356795CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DB4BD8E-EBD5-4DB0-ACC5-5406B678F640</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEC1EED9-9BF1-4BB9-9A8D-56268487228A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFDFF7FB-F435-4664-B686-0671D60B056E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4BBB248A-D8C8-46EF-BBEE-FCE94BA8167C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0B1F55C-F5B8-4B38-A2BF-9BD6BFBB879F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7646291B-963C-49BB-AFAC-870B9B294512</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7C2D4636-4283-4717-ACD5-71711DBF4968</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F46EB170-AE4F-49D6-A023-BBE722C1AAF6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>24BA330E-0896-410A-88FA-36BC77EE9DA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DF26F76D-5523-413B-B141-69453EEB112A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFDFF7FB-F435-4664-B686-0671D60B056E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A022330-97FF-4665-B2CB-E37FA6B92DCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0B1F55C-F5B8-4B38-A2BF-9BD6BFBB879F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>885E725B-04C0-48EF-B673-D2C86B85ED09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F95CA534-6F98-4619-ABF4-638EF9D692E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06DC3F4F-3BF2-42FC-821F-642F388E0503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C2241E24-B8A4-4B3F-B691-54A5F27BB04B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E4EEBE8-53E6-4E94-84E3-A4615ACDAB31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub Workflows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>55CFDF9A-0AF6-4D9D-9502-030775852E23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter user name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6A022330-97FF-4665-B2CB-E37FA6B92DCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>github username: </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>78B876B8-1D45-4284-9191-C653AE23C48B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>user</string>
				<key>replacestring</key>
				<string>github username: </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>AFDFF7FB-F435-4664-B686-0671D60B056E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>06DC3F4F-3BF2-42FC-821F-642F388E0503</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Default is my repos tab</string>
				<key>text</key>
				<string>Enter repo name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>885E725B-04C0-48EF-B673-D2C86B85ED09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>/</string>
						<key>outputlabel</key>
						<string>other repo</string>
						<key>uid</key>
						<string>C2241E24-B8A4-4B3F-B691-54A5F27BB04B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>personal</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F95CA534-6F98-4619-ABF4-638EF9D692E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/adudenamedruby?tab=repositories&amp;q={query}&amp;type=&amp;language=&amp;sort=</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8E4EEBE8-53E6-4E94-84E3-A4615ACDAB31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>github repo: </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7265329B-9C6F-48F3-A25A-ED0FB90FF81B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>repo</string>
				<key>replacestring</key>
				<string>github repo: </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E0B1F55C-F5B8-4B38-A2BF-9BD6BFBB879F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF4722E4-E762-4A63-89FE-8307C9E92939</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>user</string>
						<key>outputlabel</key>
						<string>user</string>
						<key>uid</key>
						<string>4BBB248A-D8C8-46EF-BBEE-FCE94BA8167C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>repo</string>
						<key>outputlabel</key>
						<string>repo</string>
						<key>uid</key>
						<string>7646291B-963C-49BB-AFAC-870B9B294512</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>search</string>
						<key>outputlabel</key>
						<string>search</string>
						<key>uid</key>
						<string>F46EB170-AE4F-49D6-A023-BBE722C1AAF6</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>firefox</string>
						<key>outputlabel</key>
						<string>firefox</string>
						<key>uid</key>
						<string>DF26F76D-5523-413B-B141-69453EEB112A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AEC1EED9-9BF1-4BB9-9A8D-56268487228A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search GitHub for '...'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9BA4DB80-E89A-433A-A11B-0824356795CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search</string>
				<key>replacestring</key>
				<string>search for: </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7C2D4636-4283-4717-ACD5-71711DBF4968</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search for: </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8DB4BD8E-EBD5-4DB0-ACC5-5406B678F640</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"f35a3988f24873039cdc57eb278b28acea536bc7.png","title":"Search GitHub","arg":"search","subtitle":""},{"imagefile":"94e245b01fd6ac4365c21fa483925df77636ea66.png","title":"User Lookup","arg":"user","subtitle":"Open user's homepage"},{"imagefile":"4e5025e909ca2744e1d1419c13d400e0f9e4c156.png","title":"Open Repo","arg":"repo","subtitle":"Open a specific repo"},{"imagefile":"d17a6ff95b2195240aad01de8961e7cfcd96305f.png","title":"Firefox: Search issues","arg":"firefox","subtitle":"Open the Firefox iOS repo"}]</string>
				<key>keyword</key>
				<string>git</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>70C77728-874F-43A0-A801-89490AD44D1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/mozilla-mobile/firefox-ios/issues/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3705A618-6F5C-45B0-8907-FEE643CACABE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>No issue ID opens all issues</string>
				<key>text</key>
				<string>Enter issue ID</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68441686-7C1A-45E4-9E6D-B3338DAAE3C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>firefox</string>
				<key>replacestring</key>
				<string>issue id: </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>24BA330E-0896-410A-88FA-36BC77EE9DA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>issue id: </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>0D1FD25C-D8CC-42C9-9416-23B4A57D228E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06DC3F4F-3BF2-42FC-821F-642F388E0503</key>
		<dict>
			<key>xpos</key>
			<real>1165</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>0D1FD25C-D8CC-42C9-9416-23B4A57D228E</key>
		<dict>
			<key>xpos</key>
			<real>1255</real>
			<key>ypos</key>
			<real>1225</real>
		</dict>
		<key>24BA330E-0896-410A-88FA-36BC77EE9DA4</key>
		<dict>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>1225</real>
		</dict>
		<key>3705A618-6F5C-45B0-8907-FEE643CACABE</key>
		<dict>
			<key>xpos</key>
			<real>1370</real>
			<key>ypos</key>
			<real>1195</real>
		</dict>
		<key>55CFDF9A-0AF6-4D9D-9502-030775852E23</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>68441686-7C1A-45E4-9E6D-B3338DAAE3C4</key>
		<dict>
			<key>xpos</key>
			<real>1080</real>
			<key>ypos</key>
			<real>1195</real>
		</dict>
		<key>6A022330-97FF-4665-B2CB-E37FA6B92DCF</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>70C77728-874F-43A0-A801-89490AD44D1F</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>7265329B-9C6F-48F3-A25A-ED0FB90FF81B</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>78B876B8-1D45-4284-9191-C653AE23C48B</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>7C2D4636-4283-4717-ACD5-71711DBF4968</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>885E725B-04C0-48EF-B673-D2C86B85ED09</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>8DB4BD8E-EBD5-4DB0-ACC5-5406B678F640</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>8E4EEBE8-53E6-4E94-84E3-A4615ACDAB31</key>
		<dict>
			<key>xpos</key>
			<real>1160</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>9BA4DB80-E89A-433A-A11B-0824356795CA</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>AEC1EED9-9BF1-4BB9-9A8D-56268487228A</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>AFDFF7FB-F435-4664-B686-0671D60B056E</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>BF4722E4-E762-4A63-89FE-8307C9E92939</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>E0B1F55C-F5B8-4B38-A2BF-9BD6BFBB879F</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>F95CA534-6F98-4619-ABF4-638EF9D692E1</key>
		<dict>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
