{;; !  | means mandatory
    ;; #  | means optional
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any

    ;; to understand better how modifiers work in karabiner
    ;; karabiner definition of mandatory and optional
    ;; https://pqrs.org/osx/karabiner/json.html#from-event-definition-modifiers

    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; need to prefix C T O S F with ! or #

 :profiles {:adudenamedruby {:default true
                             :sim     50     ;; simultaneous_threshold_milliseconds (def: 50)
                        ;; keys need to be pressed within this threshold to be considered simultaneous
                             :delay   1      ;; to_delayed_action_delay_milliseconds (def: 500)
                        ;; basically it means time after which the key press is count delayed
                             :alone   1000   ;; to_if_alone_timeout_milliseconds (def: 1000)
                        ;; hold for 995s and single tap registered; hold for 1005s and seen as modifier
                             :held    250    ;; to_if_held_down_threshold_milliseconds (def: 500)
                        ;; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
}} ;; profiles

 ; :devices {;;     :apl-usb-int [{:vendor_id 1452, :product_id 635 }]  ;; Apple Internal & Magic Keyboard (USB)
;;     :apl-bt [{:vendor_id 1452, :product_id 615}] ;; Apple Magic Keyboard (Bluetooth)
; }

 :input-sources {:dvorak {:input_source_id "^com\\.apple\\.keylayout\\.Dvorak$" :language "en"}
                 :grouxphite {:input_source_id "^org\\.sil\\.ukelele\\.keyboardlayout\\.grouxphite\\.grouxphite$" :language "en"}}

 :layers {:symbols-layer-dvorak {:key :right_command :condi :dvorak}
          :symbols-layer-grouxphite {:key :right_command :condi :grouxphite}}
;; simlayer
 :simlayers {;:prog-right {:key :f}
             ;:prog-left {:key :j}
             :arrows-layer {:key :v}
             ; :symbols-layer {:key :right_command}
             :alt-layer {:key :c}}

;; main contains multiple manipulators
 :main [;;{:des "..."                               ;; -> description
    ;; :rules[
    ;;          [<from>  <to>  <conditions> <other options>]    ;; -> rule 1
    ;;          [<from>  <to>  <conditions> <other options>]    ;; -> rule 2
    ;; ]}
    ;;
    ;; <from> can be keywords defined in froms or keycodes without `{:not-from true}`
    ;; <to> can be keywords defined in tos, keycodes without `{:not-to true}` or strings (shell script)
    ;; <conditions> can be keywords defined in layers, devices, applications
    ;; <other options> {:other {:parameters {:to_delayed_action_delay_milliseconds 100 :basic.to_if_alone_timeout_milliseconds 500 :basic.to_if_held_down_threshold_milliseconds 250}} }

    ;; if simplified modifier is used in <to>, optional(#) definition will be ignored.

    ;; (custom variables) & modifiers -> Advanced
    ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org#custom-variable
        {:des "Caps Lock -> Esc : Control"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "Tab -> Tab : HYPER"
         :rules [[:##tab :!COSleft_control nil {:alone :tab}]]}
        ; {:des "Numbers Layer"
        ;  :rules [;; Top row
        ;          [:o :9  :numbers-layer]
        ;          [:i :8  :numbers-layer]
        ;          [:u :7  :numbers-layer]
        ;
        ;         ;; Home row
        ;          [:semicolon :0  :numbers-layer]
        ;          [:l :6  :numbers-layer]
        ;          [:k :5  :numbers-layer]
        ;          [:j :4  :numbers-layer]
        ;
        ;         ;; Bottom Row
        ;          [:m :1  :numbers-layer]
        ;          [:comma :2  :numbers-layer]
        ;          [:period :3  :numbers-layer]]}
        {:des "Arrows layer" ;; only the right hand side
         :rules [:arrows-layer;; Top row
                 [:j :left_arrow]
                 [:k :down_arrow]
                 [:l :up_arrow]
                 [:semicolon :right_arrow]]}

        {:des "Alt layer" ;; only the right hand side
         :rules [:alt-layer;; Top row
                 [:y :!Oy]
                 [:u :!O1]
                 [:i :!O2]
                 [:o :!O3]
                 [:p :!O4]

                ;; Home row
                 [:h :!O5]
                 [:j :!O6]
                 [:k :!O7]
                 [:l :!O8]
                 [:semicolon :!O9]

                ;; Bottom Row
                 [:n :!O9]
                 [:m ["StD" 1]]
                 [:comma :!Ocomma]
                 [:period :!Oslash]
                 [:slash :!Obackslash]]}

        {:des "Dvorak symbols layer"
         :rules [:symbols-layer-dvorak
                 [:##q :!Sbackslash]
                 [:##w :grave_accent_and_tilde]
                 [:##e :!S2]
                 [:##r :!S5]
                 [:##t :!Sbackslash]
                 [:##y :1]
                 [:##u :0]
                 [:##i :!S6]
                 [:##o :!S4]
                 [:##p :backslash]

                 [:##a :open_bracket]
                 [:##s :!Shyphen]
                 [:##d :!Sz]
                 [:##f :!S9]
                 [:##g :!Sclose_bracket]
                 [:##h :!S8]
                 [:##j :!S0]
                 [:##k :close_bracket]
                 [:##l :!Sequal_sign]
                 [:##semicolon :quote]

                 [:##z :!Sgrave_accent_and_tilde]
                 [:##x :hyphen]
                 [:##c :!S7]
                 [:##v :!Sopen_bracket]
                 [:##b :!Sw]
                 [:##n :!Se]
                 [:##m :!S1]
                 [:##comma :!Squote]
                 [:##period :equal_sign]
                 [:##slash :!S3]]}

        {:des "Grouxphite symbols layer"
         :rules [:symbols-layer-grouxphite
                 [:##q :!Sbackslash]
                 [:##w :grave_accent_and_tilde]
                 [:##e :!S2]
                 [:##r :!S5]
                 [:##u :0]
                 [:##i :!S6]
                 [:##o :!S4]
                 [:##p :backslash]

                 [:##a :open_bracket]
                 [:##s :!Shyphen]
                 [:##d :!Sopen_bracket]
                 [:##f :!S9]
                 [:##g :!Sclose_bracket]
                 [:##h :!S8]
                 [:##j :!S0]
                 [:##k :close_bracket]
                 [:##l :!Sequal_sign]
                 [:##semicolon :quote]

                 [:##z :!Sgrave_accent_and_tilde]
                 [:##x :hyphen]
                 [:##c :!S7]
                 [:##v :!Squote]
                 [:##b :!Sslash]
                 [:##n :!Scomma]
                 [:##m :!S1]
                 [:##comma :!Sy]
                 [:##period :equal_sign]
                 [:##slash :!S3]]}

        {:des "Send to Desktop mode"
         :rules [;; Escape!
                 [:!Tc nil  ["StD" 1] {:afterup ["StD" 0]}]
                 ;; Top row
                 [:##q :!SOq  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##w :!SOw  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##e :!SOe  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##r :!SOr  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##t :!SOt  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##y :!SOy  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##u :!SOu  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##i :!SOi  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##o :!SOo  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##p :!SOp  ["StD" 1] {:afterup ["StD" 0]}]

            ;; Home row
                 [:##a :!SOa  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##s :!SOs  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##d :!SOd  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##f :!SOf  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##g :!SOg  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##h :!SOh  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##j :!SOj  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##k :!OSk  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##l :!SOl  ["StD" 1] {:afterup ["StD" 0]}]

            ;; Bottom Row
                 [:##z :!SOz  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##x :!SOx  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##c :!SOc  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##v :!SOv  ["StD" 1] {:afterup ["StD" 0]}]
                 [:##m :!SOm  ["StD" 1] {:afterup ["StD" 0]}]]}]

;; main list
 }
