<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>97AC872B-9537-4037-942C-EE8373A99EFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B476455C-04B4-407B-918D-A4A5C419626E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B476455C-04B4-407B-918D-A4A5C419626E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A716061-3D41-4EA3-9F12-3A4A33BB54BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>560611B2-16EC-4725-9CE6-31B337234864</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AFC164BA-1FF2-48C3-9046-D70891861D78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>690D542F-2B64-4ACA-A5A6-7404CFA8B441</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>03A97013-8FFA-44CE-A673-CDBD5E5A1DF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C1A5B283-5C90-4586-B61E-4196936887AE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>837C8489-D767-435B-9975-5C9A846226DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5724FE9E-F406-47AB-A380-B5A3E86D0D55</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C12E120D-DA9D-405A-B6F5-769322782006</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>34500F70-E5BB-411F-B015-4C36A2752A96</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5324E89-53BD-4F39-B285-5FFA73E2A930</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8EBF4EE3-2539-4080-8A9D-3516323522B1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DDF7DFAE-DAF9-4621-986A-EDFE22E8A6FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>459B8489-EF60-4AF6-B97A-3B96ABFD0BBF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/u/0/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2A716061-3D41-4EA3-9F12-3A4A33BB54BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/document/u/0/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AFC164BA-1FF2-48C3-9046-D70891861D78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sheets</string>
						<key>outputlabel</key>
						<string>sheets</string>
						<key>uid</key>
						<string>560611B2-16EC-4725-9CE6-31B337234864</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>docs</string>
						<key>outputlabel</key>
						<string>docs</string>
						<key>uid</key>
						<string>690D542F-2B64-4ACA-A5A6-7404CFA8B441</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cal</string>
						<key>outputlabel</key>
						<string>calendar</string>
						<key>uid</key>
						<string>C1A5B283-5C90-4586-B61E-4196936887AE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>translate</string>
						<key>outputlabel</key>
						<string>translate</string>
						<key>uid</key>
						<string>5724FE9E-F406-47AB-A380-B5A3E86D0D55</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>maps</string>
						<key>outputlabel</key>
						<string>maps</string>
						<key>uid</key>
						<string>34500F70-E5BB-411F-B015-4C36A2752A96</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>drive</string>
						<key>outputlabel</key>
						<string>drive</string>
						<key>uid</key>
						<string>8EBF4EE3-2539-4080-8A9D-3516323522B1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>slides</string>
						<key>outputlabel</key>
						<string>slides</string>
						<key>uid</key>
						<string>459B8489-EF60-4AF6-B97A-3B96ABFD0BBF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B476455C-04B4-407B-918D-A4A5C419626E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://calendar.google.com/calendar/u/0/r?tab=ic</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>03A97013-8FFA-44CE-A673-CDBD5E5A1DF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"88bd356ead96e01439729fe4f96b4f6c5d67c222.png","title":"Sheets","arg":"sheets","subtitle":"Google Sheets"},{"imagefile":"05e18763aafd12f3650f1650b05e9aa27eabbe14.png","title":"Docs","arg":"docs","subtitle":"Google Docs"},{"imagefile":"90faadfba311652e0790ce98aee28b1c5a18e429.png","title":"Calendar","arg":"cal","subtitle":"Google Calendar"},{"imagefile":"8d6cb0ddb5ee580383625ea08a7a9a203ef621ad.png","title":"Translate","arg":"translate","subtitle":"Google Translate"},{"imagefile":"bc753601df0611d6e34e5c6d7d94c7775c5151b8.png","title":"Maps","arg":"maps","subtitle":"Google Maps"},{"imagefile":"14557a2098fd02aae40692bc9385204bf8b886a8.png","title":"Drive","arg":"drive","subtitle":"Google Drive"},{"imagefile":"465219f994ac54bdf7c31914d8caf3c79d872d46.png","title":"Slides","arg":"slides","subtitle":"Google Slides"}]</string>
				<key>keyword</key>
				<string>g</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>google</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>97AC872B-9537-4037-942C-EE8373A99EFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://translate.google.ca/?hl=en</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>837C8489-D767-435B-9975-5C9A846226DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.ca/maps?hl=en&amp;tab=cl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C12E120D-DA9D-405A-B6F5-769322782006</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://drive.google.com/drive/my-drive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A5324E89-53BD-4F39-B285-5FFA73E2A930</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/presentation/u/0/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DDF7DFAE-DAF9-4621-986A-EDFE22E8A6FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03A97013-8FFA-44CE-A673-CDBD5E5A1DF8</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>2A716061-3D41-4EA3-9F12-3A4A33BB54BB</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>837C8489-D767-435B-9975-5C9A846226DD</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>97AC872B-9537-4037-942C-EE8373A99EFC</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>A5324E89-53BD-4F39-B285-5FFA73E2A930</key>
		<dict>
			<key>xpos</key>
			<real>1100</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>AFC164BA-1FF2-48C3-9046-D70891861D78</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>B476455C-04B4-407B-918D-A4A5C419626E</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>C12E120D-DA9D-405A-B6F5-769322782006</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>DDF7DFAE-DAF9-4621-986A-EDFE22E8A6FD</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
