<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>08F69BEE-2922-4B8C-BED7-66C807576F3F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>twitch</string>
			<key>text</key>
			<string>Twitch Dashboard</string>
			<key>url</key>
			<string>https://www.twitch.tv/rouxbuciu/dashboard/live</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0E5B8C82-855E-4CE7-8E59-C7C3252BA03C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kickstarter</string>
			<key>text</key>
			<string>Kickstarter</string>
			<key>url</key>
			<string>https://www.kickstarter.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0F718BAD-4532-44F3-AE69-0E77B7B66653</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yoga</string>
			<key>text</key>
			<string>Do Yoga With Me</string>
			<key>url</key>
			<string>http://www.doyogawithme.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1202206C-9995-4E72-91E3-1B2C48C54D34</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>udemy</string>
			<key>text</key>
			<string>uDemy</string>
			<key>url</key>
			<string>https://www.udemy.com/courses/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>13C56596-6BD4-4DDE-B480-93CF4FB3F822</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>meetup</string>
			<key>text</key>
			<string>MeetUp</string>
			<key>url</key>
			<string>https://www.meetup.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1B313EFC-9E9F-4701-B07C-E1C532388F59</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>connect</string>
			<key>text</key>
			<string>iTunes Connect</string>
			<key>url</key>
			<string>https://itunesconnect.apple.com/login</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>29CF5DB7-9868-4F02-8D4F-A20C8E66B9F4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bgg</string>
			<key>text</key>
			<string>Board Game Geek</string>
			<key>url</key>
			<string>https://boardgamegeek.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>38C3F2F8-D07C-4842-8E89-AE400759AB8F</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>&gt;realkana</string>
			<key>text</key>
			<string>Real Kana</string>
			<key>url</key>
			<string>http://realkana.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3B120796-33CD-452D-B73D-C1F644F0ED7C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>weather</string>
			<key>text</key>
			<string>Weather: Toronto</string>
			<key>url</key>
			<string>https://www.theweathernetwork.com/ca/weather/ontario/toronto</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>42AB942D-B07A-4D15-8F78-E5ADE6FC1DDD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>45A07CA0-EC06-4AFF-9D96-0286E05637DD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>strava</string>
			<key>text</key>
			<string>Strava</string>
			<key>url</key>
			<string>https://www.strava.com/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>466C644D-8C2F-4D4D-9744-0F71FD59530D</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>&gt;wanikani</string>
			<key>text</key>
			<string>WaniKani</string>
			<key>url</key>
			<string>https://www.wanikani.com/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>48365373-B979-42E1-AC2D-47FD1B6DC63B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ymca</string>
			<key>text</key>
			<string>YMCA Schedules</string>
			<key>url</key>
			<string>https://ymcagta.org/health-and-fitness/schedules</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>565AFA72-F527-4122-AF14-4EFE523166ED</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>garmin</string>
			<key>text</key>
			<string>GarminCONNECT</string>
			<key>url</key>
			<string>https://connect.garmin.com/modern/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5E4184CC-906D-417E-BE66-60B57EC1B19C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>youtube studio</string>
			<key>text</key>
			<string>YouTube Studio</string>
			<key>url</key>
			<string>https://studio.youtube.com/channel/UCoMHDb4B-CKDC_OekUgqZjg</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6FD4F4BA-4331-4108-A61D-790608AD7A1E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sheets</string>
			<key>text</key>
			<string>Google Sheets</string>
			<key>url</key>
			<string>https://docs.google.com/spreadsheets/u/0/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>74312962-1F20-481D-9A8C-DC22A6262D06</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>talkbass</string>
			<key>text</key>
			<string>TalkBass.com</string>
			<key>url</key>
			<string>https://www.talkbass.com/categories/double-bass.245/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>772B2A9F-6ACE-4EBD-A1C5-0E8FFF80598C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>apple</string>
			<key>text</key>
			<string>Apple</string>
			<key>url</key>
			<string>https://www.apple.com/ca/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7C822DD1-B289-4A20-825B-C0873C17DFAF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>darkhorse</string>
			<key>text</key>
			<string>DHF Group</string>
			<key>url</key>
			<string>https://groups.google.com/forum/#!forum/flyers_racing</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8FCBB3A4-A287-4913-9DC5-C83FB4AFEDD4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>duolingo</string>
			<key>text</key>
			<string>Duolingo</string>
			<key>url</key>
			<string>https://www.duolingo.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9210DB5A-C484-4713-AE5B-909B9D2ADF56</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rideboard</string>
			<key>text</key>
			<string>DHF Ride Board</string>
			<key>url</key>
			<string>http://www.darkhorseflyers.ca/ride-board/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9DAF35BD-AF3A-430D-A8FC-202F628AE281</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ogs</string>
			<key>text</key>
			<string>OGS</string>
			<key>url</key>
			<string>https://online-go.com/#/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A0611363-9FF5-4B34-A5AA-178711E4E7FB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>netflix</string>
			<key>text</key>
			<string>Netflix</string>
			<key>url</key>
			<string>https://www.netflix.com/browse?jbv=80091936&amp;jbp=0&amp;jbr=5</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A2CC56CA-EB2C-48BA-A9B7-169DCAEC1467</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>reddit</string>
			<key>text</key>
			<string>reddit</string>
			<key>url</key>
			<string>https://www.reddit.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>ABEBA677-9D70-452B-858D-5AF7B7021D36</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hover</string>
			<key>text</key>
			<string>Hover</string>
			<key>url</key>
			<string>https://www.hover.com/signin</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AC99D7B2-36FE-4832-9C6B-9070717438BE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ynab</string>
			<key>text</key>
			<string>YNAB</string>
			<key>url</key>
			<string>https://app.youneedabudget.com/040db569-54fc-43a4-906d-0b37728a04c4/budget</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B1FBAFE0-F385-43AB-ADF1-53B70AE377E5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>facebook</string>
			<key>text</key>
			<string>Facebook</string>
			<key>url</key>
			<string>https://www.facebook.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B76063AA-E3DB-40C4-8CCB-FAC2DE53DAAF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>news</string>
			<key>text</key>
			<string>Hacker News</string>
			<key>url</key>
			<string>https://news.ycombinator.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B99FBCF4-4AB2-4674-A7D9-B3C78F7E6DE9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>twitter</string>
			<key>text</key>
			<string>Twitter</string>
			<key>url</key>
			<string>https://twitter.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C8E2E0C1-06BD-460C-9C9F-62133EA6A99B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>drive</string>
			<key>text</key>
			<string>Google Drive</string>
			<key>url</key>
			<string>https://drive.google.com/drive/my-drive</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C96A9098-DE93-4577-B3D1-FF611C7D0C39</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>calendar</string>
			<key>text</key>
			<string>Google Calendar</string>
			<key>url</key>
			<string>https://calendar.google.com/calendar/render#main_7</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C9B5AB25-302F-4A67-BCB6-2F33AE8F0FFD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>developer</string>
			<key>text</key>
			<string>Apple Developer</string>
			<key>url</key>
			<string>https://developer.apple.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D8B76BF6-E782-43FD-AC5A-0C2F8AE93455</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rbc</string>
			<key>text</key>
			<string>Royal Bank of Canada</string>
			<key>url</key>
			<string>https://www1.royalbank.com/cgi-bin/rbaccess/rbunxcgi?F6=1&amp;F7=IB&amp;F21=IB&amp;F22=IB&amp;REQUEST=ClientSignin&amp;LANGUAGE=ENGLISH&amp;_ga=2.158371576.33406770.1497616039-2117091013.1497616039</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D8FDFC7D-05AE-4749-9A08-1D0AE1C20CE3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>linkedin</string>
			<key>text</key>
			<string>LinkedIN</string>
			<key>url</key>
			<string>https://www.linkedin.com/feed/</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
