<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>B8D27235-8544-4201-9CF4-656018F7A76C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>934326ED-C941-4526-B0A7-4E15E8CC8D26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8CD38659-3E7D-4C9D-80F9-0027BEEB5898</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EE53BF97-24E4-42C0-B69C-69D62AD6927C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>02CD6841-AFFC-4F9C-A7DD-8BC465E97079</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1FA2617D-9374-4FCD-B995-8E1088023B69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7257093A-0119-471E-AD69-25F1B483AAE3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>34F3B8CE-2774-4C3A-89B9-46C0725DA052</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FCCB9DA5-1F2E-4CF4-9D63-B0B66C1525AE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A6B4EAE9-C29E-45AC-8CE5-276AC6FEAEA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3779B4B9-5432-4382-B743-ABECCD59E3D7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8F47979-5269-492F-865B-0F6630808B74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8D27235-8544-4201-9CF4-656018F7A76C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Apple Development</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://appleid.apple.com/#!&amp;page=signin</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>934326ED-C941-4526-B0A7-4E15E8CC8D26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://idmsa.apple.com/IDMSWebAuth/signin?appIdKey=891bd3417a7776362562d2197f89480a8547b108fd934911bcbea0110d07f757&amp;path=%2Faccount%2F&amp;rv=1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EE53BF97-24E4-42C0-B69C-69D62AD6927C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>id</string>
						<key>outputlabel</key>
						<string>id</string>
						<key>uid</key>
						<string>8CD38659-3E7D-4C9D-80F9-0027BEEB5898</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>developer</string>
						<key>outputlabel</key>
						<string>developer</string>
						<key>uid</key>
						<string>02CD6841-AFFC-4F9C-A7DD-8BC465E97079</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>connect</string>
						<key>outputlabel</key>
						<string>connect</string>
						<key>uid</key>
						<string>7257093A-0119-471E-AD69-25F1B483AAE3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>xcodereleases</string>
						<key>outputlabel</key>
						<string>xcodereleases</string>
						<key>uid</key>
						<string>FCCB9DA5-1F2E-4CF4-9D63-B0B66C1525AE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>docs</string>
						<key>outputlabel</key>
						<string>docs</string>
						<key>uid</key>
						<string>3779B4B9-5432-4382-B743-ABECCD59E3D7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B8D27235-8544-4201-9CF4-656018F7A76C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://appstoreconnect.apple.com</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1FA2617D-9374-4FCD-B995-8E1088023B69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"40c8cd0d58797f6456b510edab7d48959a203148.png","title":"Apple ID","arg":"id","subtitle":"Apple ID sign in page"},{"imagefile":"3f1d0507e71fb803e0f3311329cece7b70b0158e.png","title":"Developer","arg":"developer","subtitle":"Developer portal"},{"imagefile":"b262f02f037e00223d1ee5f31e3673f834e3c071.png","title":"App Store Connect","arg":"connect","subtitle":"Previously iTunesConnect"},{"imagefile":"694967d832b99cffd4ee44d8fe2f5159a8f80ce6.png","title":"XcodeReleases","arg":"xcodereleases"},{"imagefile":"4ba9949b9cf8ca1524a9da1c60b43126ee027d6f.png","title":"Developer Documentation","arg":"docs","subtitle":"Apple's Online Dev Docs"}]</string>
				<key>keyword</key>
				<string>apple</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Apple</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>E8F47979-5269-492F-865B-0F6630808B74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://xcodereleases.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>34F3B8CE-2774-4C3A-89B9-46C0725DA052</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://developer.apple.com/documentation/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A6B4EAE9-C29E-45AC-8CE5-276AC6FEAEA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1FA2617D-9374-4FCD-B995-8E1088023B69</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>34F3B8CE-2774-4C3A-89B9-46C0725DA052</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>934326ED-C941-4526-B0A7-4E15E8CC8D26</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>A6B4EAE9-C29E-45AC-8CE5-276AC6FEAEA0</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
		<key>B8D27235-8544-4201-9CF4-656018F7A76C</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>E8F47979-5269-492F-865B-0F6630808B74</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>EE53BF97-24E4-42C0-B69C-69D62AD6927C</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
