<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>16C51122-8A1C-4263-999C-2A54627BCB9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4C1D9E5-7CD3-415F-88B7-62DD827B3D30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>259441D1-0847-412C-91DE-A44FCC52D19A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F329BCDD-5025-4025-A2B3-12E43A559233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9110B3C8-7EA1-46BB-BAEF-C0465793B2F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFCC3539-005A-4EA4-9C2B-8430144FBBA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFCC3539-005A-4EA4-9C2B-8430144FBBA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DAFC9EF-ABF4-416F-8B6A-CE563A9051B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>234C57A7-687F-4D99-BBDD-2CAA33895E32</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>259441D1-0847-412C-91DE-A44FCC52D19A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>690D542F-2B64-4ACA-A5A6-7404CFA8B441</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F329BCDD-5025-4025-A2B3-12E43A559233</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16C51122-8A1C-4263-999C-2A54627BCB9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mozilla Workflows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mozilla.zoom.us/j/92138908283</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8DAFC9EF-ABF4-416F-8B6A-CE563A9051B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search MANA for '...'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F329BCDD-5025-4025-A2B3-12E43A559233</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mana.mozilla.org/wiki/dosearchsite.action?cql=siteSearch+~+%22{query}%22+and+type+in+(%22space%22%2C%22user%22%2C%22com.atlassian.confluence.extra.team-calendars%3Acalendar-content-type%22%2C%22attachment%22%2C%22com.atlassian.confluence.extra.team-calendars%3Aspace-calendars-view-content-type%22%2C%22page%22%2C%22blogpost%22)&amp;queryString={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B4C1D9E5-7CD3-415F-88B7-62DD827B3D30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search for: </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>16C51122-8A1C-4263-999C-2A54627BCB9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"MANA Search","arg":"search","subtitle":"Do an advanced MANA search"},{"title":"Coffee Chat","arg":"chat","subtitle":""}]</string>
				<key>keyword</key>
				<string>moz</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>moz://a</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>9110B3C8-7EA1-46BB-BAEF-C0465793B2F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>chat</string>
						<key>outputlabel</key>
						<string>chat</string>
						<key>uid</key>
						<string>234C57A7-687F-4D99-BBDD-2CAA33895E32</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>search</string>
						<key>outputlabel</key>
						<string>search</string>
						<key>uid</key>
						<string>690D542F-2B64-4ACA-A5A6-7404CFA8B441</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DFCC3539-005A-4EA4-9C2B-8430144FBBA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search</string>
				<key>replacestring</key>
				<string>search for: </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>259441D1-0847-412C-91DE-A44FCC52D19A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16C51122-8A1C-4263-999C-2A54627BCB9A</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>259441D1-0847-412C-91DE-A44FCC52D19A</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>8DAFC9EF-ABF4-416F-8B6A-CE563A9051B6</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>9110B3C8-7EA1-46BB-BAEF-C0465793B2F0</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>950</real>
		</dict>
		<key>B4C1D9E5-7CD3-415F-88B7-62DD827B3D30</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>DFCC3539-005A-4EA4-9C2B-8430144FBBA9</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>F329BCDD-5025-4025-A2B3-12E43A559233</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
