<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>11C69AB0-0155-48D2-BAFA-5359AC92D1FA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>talkbass</string>
			<key>text</key>
			<string>TalkBass</string>
			<key>url</key>
			<string>https://www.talkbass.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>30A44C8F-93B3-45FC-B321-5EA98762F641</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rbc</string>
			<key>text</key>
			<string>Royal Bank Online Banking</string>
			<key>url</key>
			<string>https://www1.royalbank.com/cgi-bin/rbaccess/rbcgi3m01?F6=1&amp;F7=IB&amp;F21=IB&amp;F22=IB&amp;REQUEST=ClientSignin&amp;LANGUAGE=ENGLISH</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4D6D469A-3FFE-4E25-B881-82B9C6C13B18</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bb</string>
			<key>text</key>
			<string>SpeedSouls: BloodBorne</string>
			<key>url</key>
			<string>https://wiki.speedsouls.com/Bloodborne</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>54D51F72-C559-49D6-9DBD-C09A2486E2C7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>netflix</string>
			<key>text</key>
			<string>Netflix</string>
			<key>url</key>
			<string>https://www.netflix.com/browse</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>57C286B2-8674-4919-A519-DC4158CB9FE9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>shed</string>
			<key>text</key>
			<string>She-Ra's Shed</string>
			<key>url</key>
			<string>https://www.talkbass.com/threads/she-ras-shed.1418267/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>76C27C08-9EBF-4E66-95BA-DC9FE85B2A0B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>twitch</string>
			<key>text</key>
			<string>Twitch Dashboard</string>
			<key>url</key>
			<string>https://dashboard.twitch.tv/u/electricshera/home</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8B34ECEB-B490-449A-8CE0-A83E0A451E57</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fastmail</string>
			<key>text</key>
			<string>FastMail</string>
			<key>url</key>
			<string>https://www.fastmail.com/login/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BB2D0C0D-C2E2-4B5B-82E1-86BE1C0E0C25</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>blacktoplay</string>
			<key>text</key>
			<string>Black2Play</string>
			<key>url</key>
			<string>https://blacktoplay.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C7A01733-6F9B-45B2-8AEC-2C0927C3D89D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rbc investing</string>
			<key>text</key>
			<string>RBC Direct Investing</string>
			<key>url</key>
			<string>https://www1.royalbank.com/english/netaction/sgne.html</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CD2A33E4-990E-455B-BC69-8E43C7D40C33</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>scottsbasslessons</string>
			<key>text</key>
			<string>Scott's Bass Lessons</string>
			<key>url</key>
			<string>https://scottsbasslessons.com/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E1878E49-5F6E-4CA6-B36B-785E3497EC0F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tsumego</string>
			<key>text</key>
			<string>Tsumego Hero</string>
			<key>url</key>
			<string>https://tsumego-hero.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F1B8767A-7278-40BD-BDD3-9619157FBF16</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>duolingo</string>
			<key>text</key>
			<string>Duolingo</string>
			<key>url</key>
			<string>https://www.duolingo.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
