<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>032FA846-2D5C-4AD5-8DB7-5AC72E83680C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00E4D6F2-A9C5-491A-AADD-6731C7FBFE8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>412DE045-551F-46F3-BDAE-911C164864C1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E2FAF062-0BE9-4CBF-A021-90B9C2A6B8E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B97DACB5-FBFA-4D6E-95D7-FD46643C2E50</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>743E44A4-CE6A-428C-9561-5BF68B1A9D02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EC6A0831-D69F-4817-B634-E4D569F4E859</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EA7F4A8B-23CE-4682-8046-BE8855EB3525</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>35D035BB-79D4-4F3D-95D0-656203721AF4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1452F57E-DF6F-4EF0-9573-8214B02FC8C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>10D1871C-876F-45A1-8D4E-26397269C1D7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>71468F29-739F-4333-A9DA-688C18DBA62C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>06E819B6-8ADC-43C6-8234-44CA037FF0DD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0816FCDB-3399-4C41-92D9-ECA1254579ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E86CE7DE-1BF8-4905-83E0-0EE162DF09EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2917D311-8983-4F10-A894-B9B555F1E88F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>032FA846-2D5C-4AD5-8DB7-5AC72E83680C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FD9ACBD-4685-42BF-A1B0-16A7882D745B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0816FCDB-3399-4C41-92D9-ECA1254579ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71468F29-739F-4333-A9DA-688C18DBA62C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFC2975E-CD9A-400A-86FE-4D0873EF0AEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2FAF062-0BE9-4CBF-A021-90B9C2A6B8E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FD9ACBD-4685-42BF-A1B0-16A7882D745B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFC2975E-CD9A-400A-86FE-4D0873EF0AEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DE7CE9F-9948-4CEB-97C9-E7EE9C90AFFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JIRA</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jira.mozilla.com/secure/RapidBoard.jspa?rapidView=581&amp;projectKey=FXIOS</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>00E4D6F2-A9C5-491A-AADD-6731C7FBFE8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jira.mozilla.com/browse/FXIOS-{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E86CE7DE-1BF8-4905-83E0-0EE162DF09EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open a ticket...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5FD9ACBD-4685-42BF-A1B0-16A7882D745B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ticket</string>
				<key>replacestring</key>
				<string>FIXIOS-</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E2FAF062-0BE9-4CBF-A021-90B9C2A6B8E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>FIXIOS-</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>0816FCDB-3399-4C41-92D9-ECA1254579ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mozilla-hub.atlassian.net/secure/RapidBoard.jspa?rapidView=200&amp;selectedIssue=FXIOS-1806&amp;assignee=6048302caf98490072495aa2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>743E44A4-CE6A-428C-9561-5BF68B1A9D02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>epics</string>
						<key>outputlabel</key>
						<string>epics</string>
						<key>uid</key>
						<string>412DE045-551F-46F3-BDAE-911C164864C1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ticket</string>
						<key>outputlabel</key>
						<string>ticket</string>
						<key>uid</key>
						<string>B97DACB5-FBFA-4D6E-95D7-FD46643C2E50</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sprint</string>
						<key>outputlabel</key>
						<string>sprint</string>
						<key>uid</key>
						<string>EC6A0831-D69F-4817-B634-E4D569F4E859</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>backlog</string>
						<key>outputlabel</key>
						<string>backlog</string>
						<key>uid</key>
						<string>10D1871C-876F-45A1-8D4E-26397269C1D7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>search</string>
						<key>outputlabel</key>
						<string>search</string>
						<key>uid</key>
						<string>06E819B6-8ADC-43C6-8234-44CA037FF0DD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>tech backlog</string>
						<key>outputlabel</key>
						<string>techBacklog</string>
						<key>uid</key>
						<string>35D035BB-79D4-4F3D-95D0-656203721AF4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>032FA846-2D5C-4AD5-8DB7-5AC72E83680C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Sprint Board","arg":"sprint","subtitle":"Sprint board for current sprint"},{"title":"Ticket","arg":"ticket","subtitle":"Search for a specific ticket"},{"title":"Backlog","arg":"backlog","subtitle":"Launch the FxiOS Backlog"},{"title":"Technical Backlog","arg":"tech backlog","subtitle":""},{"title":"Epic Board","arg":"epics","subtitle":"Launch the FxiOS Epic Board"},{"title":"Search","arg":"search","subtitle":"Search the FXiOS project"}]</string>
				<key>keyword</key>
				<string>jira</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Mozilla JIRA</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>2917D311-8983-4F10-A894-B9B555F1E88F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mozilla-hub.atlassian.net/jira/software/c/projects/FXIOS/boards/204/backlog?issueLimit=100</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EA7F4A8B-23CE-4682-8046-BE8855EB3525</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mozilla-hub.atlassian.net/jira/software/c/projects/FXIOS/boards/200/backlog?selectedIssue=FXIOS-4152&amp;issueLimit=100</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1452F57E-DF6F-4EF0-9573-8214B02FC8C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search JIRA for keywords</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FFC2975E-CD9A-400A-86FE-4D0873EF0AEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jira.mozilla.com/browse/FXIOS-1569?jql=text%20~%20%22{query}%22</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8DE7CE9F-9948-4CEB-97C9-E7EE9C90AFFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>71468F29-739F-4333-A9DA-688C18DBA62C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00E4D6F2-A9C5-491A-AADD-6731C7FBFE8C</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>032FA846-2D5C-4AD5-8DB7-5AC72E83680C</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>0816FCDB-3399-4C41-92D9-ECA1254579ED</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>1452F57E-DF6F-4EF0-9573-8214B02FC8C8</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>2917D311-8983-4F10-A894-B9B555F1E88F</key>
		<dict>
			<key>xpos</key>
			<real>20</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>5FD9ACBD-4685-42BF-A1B0-16A7882D745B</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>71468F29-739F-4333-A9DA-688C18DBA62C</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>743E44A4-CE6A-428C-9561-5BF68B1A9D02</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>8DE7CE9F-9948-4CEB-97C9-E7EE9C90AFFD</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>E2FAF062-0BE9-4CBF-A021-90B9C2A6B8E2</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>E86CE7DE-1BF8-4905-83E0-0EE162DF09EA</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>EA7F4A8B-23CE-4682-8046-BE8855EB3525</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>FFC2975E-CD9A-400A-86FE-4D0873EF0AEE</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
