<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0D1FD25C-D8CC-42C9-9416-23B4A57D228E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3705A618-6F5C-45B0-8907-FEE643CACABE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>168B6FF4-9448-4E86-A7BB-C24409446BD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEFC0F5B-5794-46AA-B3D9-FD60F2C6C127</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7404076B-92D3-473E-8105-33687B04D1FF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FD7F0561-1CF1-45A3-B3E1-45957651F722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24BA330E-0896-410A-88FA-36BC77EE9DA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68441686-7C1A-45E4-9E6D-B3338DAAE3C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68441686-7C1A-45E4-9E6D-B3338DAAE3C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D1FD25C-D8CC-42C9-9416-23B4A57D228E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A022330-97FF-4665-B2CB-E37FA6B92DCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78B876B8-1D45-4284-9191-C653AE23C48B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70C77728-874F-43A0-A801-89490AD44D1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEC1EED9-9BF1-4BB9-9A8D-56268487228A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7265329B-9C6F-48F3-A25A-ED0FB90FF81B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F95CA534-6F98-4619-ABF4-638EF9D692E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>772B3271-FF93-415F-857B-94FC6FA4A362</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E993A88-037C-4FB9-90CB-55B273FE5FEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78B876B8-1D45-4284-9191-C653AE23C48B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55CFDF9A-0AF6-4D9D-9502-030775852E23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A664528-41E6-43A0-A236-B63E1520227E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2B65F69-AE36-4761-8A7A-852897B09FFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C2D4636-4283-4717-ACD5-71711DBF4968</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BA4DB80-E89A-433A-A11B-0824356795CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E993A88-037C-4FB9-90CB-55B273FE5FEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1107CAC-6645-40F5-8382-85C2EC9310CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>885E725B-04C0-48EF-B673-D2C86B85ED09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7265329B-9C6F-48F3-A25A-ED0FB90FF81B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DB4BD8E-EBD5-4DB0-ACC5-5406B678F640</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF4722E4-E762-4A63-89FE-8307C9E92939</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DD46E65-D372-4CE0-9202-EE657CB1DB57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB2180D3-3AC9-4C13-B997-F432D1AEC361</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BA4DB80-E89A-433A-A11B-0824356795CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DB4BD8E-EBD5-4DB0-ACC5-5406B678F640</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEC1EED9-9BF1-4BB9-9A8D-56268487228A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>240F0EEC-4564-4D2E-9F2C-A2C4FF3D60F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2020CE46-70B7-4ADB-A4EF-D62E38CB6E44</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AFDFF7FB-F435-4664-B686-0671D60B056E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4BBB248A-D8C8-46EF-BBEE-FCE94BA8167C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0B1F55C-F5B8-4B38-A2BF-9BD6BFBB879F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7646291B-963C-49BB-AFAC-870B9B294512</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7C2D4636-4283-4717-ACD5-71711DBF4968</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F46EB170-AE4F-49D6-A023-BBE722C1AAF6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93C82FF5-3DE8-4422-850A-5BC5A6E94CD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1ADFFB60-94E3-4E2E-B0CD-74D463CC3907</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7A664528-41E6-43A0-A236-B63E1520227E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DF26F76D-5523-413B-B141-69453EEB112A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8DD46E65-D372-4CE0-9202-EE657CB1DB57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1F36B66F-13E8-44D5-B916-F7728810C301</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFDFF7FB-F435-4664-B686-0671D60B056E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A022330-97FF-4665-B2CB-E37FA6B92DCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2B65F69-AE36-4761-8A7A-852897B09FFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD6FB589-E1FD-4D4E-A62D-C90126D9B441</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C32D5F07-C114-4C52-9A18-7642747B6C5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>168B6FF4-9448-4E86-A7BB-C24409446BD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB2180D3-3AC9-4C13-B997-F432D1AEC361</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFC659DE-B772-4D42-A3F6-1C19E375237A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD6FB589-E1FD-4D4E-A62D-C90126D9B441</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B95EFE6E-ADFA-47F3-88FB-846CCA539306</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9C2A013C-17D8-498F-89BE-A11BC86C72D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D7AADB58-6B18-4992-B685-49E69C5DE754</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3E64ED86-1C35-4103-98B0-FC8A5484064C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F9EBB369-BD82-49F9-9987-7A08F9B4125C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9CED3B2A-DCB7-47D7-A10C-E5EC66CFD145</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>24BA330E-0896-410A-88FA-36BC77EE9DA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>374815C4-389C-43E4-9535-A4399995011B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEFC0F5B-5794-46AA-B3D9-FD60F2C6C127</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>772B3271-FF93-415F-857B-94FC6FA4A362</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFC659DE-B772-4D42-A3F6-1C19E375237A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C32D5F07-C114-4C52-9A18-7642747B6C5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>63C3AE0D-0839-4297-93C7-27BD7CA797B8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0B1F55C-F5B8-4B38-A2BF-9BD6BFBB879F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>885E725B-04C0-48EF-B673-D2C86B85ED09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1107CAC-6645-40F5-8382-85C2EC9310CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C6B04BD-9D41-45B7-AA1D-3234071BDEBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ACECB896-987A-423E-AF9E-0AC486A8E998</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBCEF990-1BF3-48F2-AC6B-C14534EB293C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F95CA534-6F98-4619-ABF4-638EF9D692E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06DC3F4F-3BF2-42FC-821F-642F388E0503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C2241E24-B8A4-4B3F-B691-54A5F27BB04B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E4EEBE8-53E6-4E94-84E3-A4615ACDAB31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub Workflows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/electricrgb</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>240F0EEC-4564-4D2E-9F2C-A2C4FF3D60F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>55CFDF9A-0AF6-4D9D-9502-030775852E23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter user name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6A022330-97FF-4665-B2CB-E37FA6B92DCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>github username: </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>78B876B8-1D45-4284-9191-C653AE23C48B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>user</string>
				<key>replacestring</key>
				<string>github username: </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>AFDFF7FB-F435-4664-B686-0671D60B056E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>06DC3F4F-3BF2-42FC-821F-642F388E0503</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter repo name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>885E725B-04C0-48EF-B673-D2C86B85ED09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>/</string>
						<key>outputlabel</key>
						<string>other repo</string>
						<key>uid</key>
						<string>C2241E24-B8A4-4B3F-B691-54A5F27BB04B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>personal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F95CA534-6F98-4619-ABF4-638EF9D692E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>github repo: </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7265329B-9C6F-48F3-A25A-ED0FB90FF81B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>repo</string>
				<key>replacestring</key>
				<string>github repo: </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E0B1F55C-F5B8-4B38-A2BF-9BD6BFBB879F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/electricRGB/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8E4EEBE8-53E6-4E94-84E3-A4615ACDAB31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search GitHub for '...'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9BA4DB80-E89A-433A-A11B-0824356795CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF4722E4-E762-4A63-89FE-8307C9E92939</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search</string>
				<key>replacestring</key>
				<string>search for: </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7C2D4636-4283-4717-ACD5-71711DBF4968</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search for: </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8DB4BD8E-EBD5-4DB0-ACC5-5406B678F640</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/mozilla-mobile</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>93C82FF5-3DE8-4422-850A-5BC5A6E94CD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>home</string>
						<key>uid</key>
						<string>2020CE46-70B7-4ADB-A4EF-D62E38CB6E44</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>user</string>
						<key>outputlabel</key>
						<string>user</string>
						<key>uid</key>
						<string>4BBB248A-D8C8-46EF-BBEE-FCE94BA8167C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>repo</string>
						<key>outputlabel</key>
						<string>repo</string>
						<key>uid</key>
						<string>7646291B-963C-49BB-AFAC-870B9B294512</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>search</string>
						<key>outputlabel</key>
						<string>search</string>
						<key>uid</key>
						<string>F46EB170-AE4F-49D6-A023-BBE722C1AAF6</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>mobile</string>
						<key>outputlabel</key>
						<string>mobile</string>
						<key>uid</key>
						<string>1ADFFB60-94E3-4E2E-B0CD-74D463CC3907</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>fxios</string>
						<key>outputlabel</key>
						<string>fxios</string>
						<key>uid</key>
						<string>DF26F76D-5523-413B-B141-69453EEB112A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sync</string>
						<key>outputlabel</key>
						<string>sync</string>
						<key>uid</key>
						<string>1F36B66F-13E8-44D5-B916-F7728810C301</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AEC1EED9-9BF1-4BB9-9A8D-56268487228A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Home","subtitle":"View my profile"},{"title":"Search","arg":"search","subtitle":"Search GitHub"},{"title":"User","arg":"user","subtitle":"Open user's homepage"},{"title":"Open Repo","arg":"repo","subtitle":"Open a specific repo"},{"title":"FxiOS","arg":"fxios","subtitle":"Open the Firefox iOS repo"},{"title":"Mozilla mobile","arg":"mobile","subtitle":"Open the Mozilla-Mobile group"},{"title":"Sync","arg":"sync","subtitle":"Synchronize existing local repos"}]</string>
				<key>keyword</key>
				<string>git</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>70C77728-874F-43A0-A801-89490AD44D1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/electricRGB/firefox-ios</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B95EFE6E-ADFA-47F3-88FB-846CCA539306</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/mozilla-mobile/firefox-ios</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D7AADB58-6B18-4992-B685-49E69C5DE754</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>fork</string>
						<key>outputlabel</key>
						<string>fork</string>
						<key>uid</key>
						<string>9C2A013C-17D8-498F-89BE-A11BC86C72D2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>main</string>
						<key>outputlabel</key>
						<string>main</string>
						<key>uid</key>
						<string>3E64ED86-1C35-4103-98B0-FC8A5484064C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>issues</string>
						<key>outputlabel</key>
						<string>issues</string>
						<key>uid</key>
						<string>9CED3B2A-DCB7-47D7-A10C-E5EC66CFD145</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>issue</string>
						<key>outputlabel</key>
						<string>issue</string>
						<key>uid</key>
						<string>374815C4-389C-43E4-9535-A4399995011B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CD6FB589-E1FD-4D4E-A62D-C90126D9B441</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/mozilla-mobile/firefox-ios/wiki</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F9EBB369-BD82-49F9-9987-7A08F9B4125C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Firefox-iOS","arg":"main","subtitle":"Open the main repo"},{"title":"Open Issue(s)","arg":"issue","subtitle":"Open all issues, or a specific issue"},{"title":"Wiki","arg":"wiki","subtitle":"Open Firefox iOS Wiki"},{"title":"Forked","arg":"fork","subtitle":"Firefox-iOS - my fork"}]</string>
				<key>keyword</key>
				<string>fxios</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>C2B65F69-AE36-4761-8A7A-852897B09FFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>fxios</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7A664528-41E6-43A0-A236-B63E1520227E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/mozilla-mobile/firefox-ios/issues/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3705A618-6F5C-45B0-8907-FEE643CACABE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>No issue ID opens all issues</string>
				<key>text</key>
				<string>Enter issue ID</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68441686-7C1A-45E4-9E6D-B3338DAAE3C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>issue</string>
				<key>replacestring</key>
				<string>issue id: </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>24BA330E-0896-410A-88FA-36BC77EE9DA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>issue id: </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>0D1FD25C-D8CC-42C9-9416-23B4A57D228E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/.dotfiles
git pull
git add .
git commit -m "Update repo"
git push origin main</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8C6B04BD-9D41-45B7-AA1D-3234071BDEBF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>No message will default to "Update repo"</string>
				<key>text</key>
				<string>Enter a commit message</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7E993A88-037C-4FB9-90CB-55B273FE5FEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>default commit</string>
						<key>uid</key>
						<string>ACECB896-987A-423E-AF9E-0AC486A8E998</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>commit message</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F1107CAC-6645-40F5-8382-85C2EC9310CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DEFC0F5B-5794-46AA-B3D9-FD60F2C6C127</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>772B3271-FF93-415F-857B-94FC6FA4A362</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/.dotfiles
git pull
git add .
git commit -m "$1"
git push origin main</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBCEF990-1BF3-48F2-AC6B-C14534EB293C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/.dotfiles
git status</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C32D5F07-C114-4C52-9A18-7642747B6C5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"dotfiles","arg":"dotfiles"},{"title":"Other","arg":"other"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>CB2180D3-3AC9-4C13-B997-F432D1AEC361</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Changes not staged for commit:</string>
						<key>outputlabel</key>
						<string>commit</string>
						<key>uid</key>
						<string>7404076B-92D3-473E-8105-33687B04D1FF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>pull</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>168B6FF4-9448-4E86-A7BB-C24409446BD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>dotfiles</string>
						<key>outputlabel</key>
						<string>dotfiles</string>
						<key>uid</key>
						<string>63C3AE0D-0839-4297-93C7-27BD7CA797B8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DFC659DE-B772-4D42-A3F6-1C19E375237A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>sync</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8DD46E65-D372-4CE0-9202-EE657CB1DB57</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/.dotfiles
git pull</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD7F0561-1CF1-45A3-B3E1-45957651F722</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06DC3F4F-3BF2-42FC-821F-642F388E0503</key>
		<dict>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>0D1FD25C-D8CC-42C9-9416-23B4A57D228E</key>
		<dict>
			<key>xpos</key>
			<integer>1255</integer>
			<key>ypos</key>
			<integer>1225</integer>
		</dict>
		<key>168B6FF4-9448-4E86-A7BB-C24409446BD2</key>
		<dict>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>1395</integer>
		</dict>
		<key>240F0EEC-4564-4D2E-9F2C-A2C4FF3D60F2</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>24BA330E-0896-410A-88FA-36BC77EE9DA4</key>
		<dict>
			<key>xpos</key>
			<integer>1005</integer>
			<key>ypos</key>
			<integer>1225</integer>
		</dict>
		<key>3705A618-6F5C-45B0-8907-FEE643CACABE</key>
		<dict>
			<key>xpos</key>
			<integer>1370</integer>
			<key>ypos</key>
			<integer>1195</integer>
		</dict>
		<key>55CFDF9A-0AF6-4D9D-9502-030775852E23</key>
		<dict>
			<key>xpos</key>
			<integer>1015</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>68441686-7C1A-45E4-9E6D-B3338DAAE3C4</key>
		<dict>
			<key>xpos</key>
			<integer>1080</integer>
			<key>ypos</key>
			<integer>1195</integer>
		</dict>
		<key>6A022330-97FF-4665-B2CB-E37FA6B92DCF</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>70C77728-874F-43A0-A801-89490AD44D1F</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>7265329B-9C6F-48F3-A25A-ED0FB90FF81B</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>772B3271-FF93-415F-857B-94FC6FA4A362</key>
		<dict>
			<key>xpos</key>
			<integer>1395</integer>
			<key>ypos</key>
			<integer>1345</integer>
		</dict>
		<key>78B876B8-1D45-4284-9191-C653AE23C48B</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>7A664528-41E6-43A0-A236-B63E1520227E</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>7C2D4636-4283-4717-ACD5-71711DBF4968</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>7E993A88-037C-4FB9-90CB-55B273FE5FEF</key>
		<dict>
			<key>xpos</key>
			<integer>1455</integer>
			<key>ypos</key>
			<integer>1315</integer>
		</dict>
		<key>885E725B-04C0-48EF-B673-D2C86B85ED09</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>8C6B04BD-9D41-45B7-AA1D-3234071BDEBF</key>
		<dict>
			<key>xpos</key>
			<integer>1735</integer>
			<key>ypos</key>
			<integer>1260</integer>
		</dict>
		<key>8DB4BD8E-EBD5-4DB0-ACC5-5406B678F640</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>8DD46E65-D372-4CE0-9202-EE657CB1DB57</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>8E4EEBE8-53E6-4E94-84E3-A4615ACDAB31</key>
		<dict>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>93C82FF5-3DE8-4422-850A-5BC5A6E94CD7</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>9BA4DB80-E89A-433A-A11B-0824356795CA</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>AEC1EED9-9BF1-4BB9-9A8D-56268487228A</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>AFDFF7FB-F435-4664-B686-0671D60B056E</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>B95EFE6E-ADFA-47F3-88FB-846CCA539306</key>
		<dict>
			<key>xpos</key>
			<integer>985</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>BBCEF990-1BF3-48F2-AC6B-C14534EB293C</key>
		<dict>
			<key>xpos</key>
			<integer>1735</integer>
			<key>ypos</key>
			<integer>1365</integer>
		</dict>
		<key>BF4722E4-E762-4A63-89FE-8307C9E92939</key>
		<dict>
			<key>xpos</key>
			<integer>1015</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>C2B65F69-AE36-4761-8A7A-852897B09FFA</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>1000</integer>
		</dict>
		<key>C32D5F07-C114-4C52-9A18-7642747B6C5C</key>
		<dict>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>1370</integer>
		</dict>
		<key>CB2180D3-3AC9-4C13-B997-F432D1AEC361</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>1380</integer>
		</dict>
		<key>CD6FB589-E1FD-4D4E-A62D-C90126D9B441</key>
		<dict>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>970</integer>
		</dict>
		<key>D7AADB58-6B18-4992-B685-49E69C5DE754</key>
		<dict>
			<key>xpos</key>
			<integer>985</integer>
			<key>ypos</key>
			<integer>865</integer>
		</dict>
		<key>DEFC0F5B-5794-46AA-B3D9-FD60F2C6C127</key>
		<dict>
			<key>xpos</key>
			<integer>1335</integer>
			<key>ypos</key>
			<integer>1345</integer>
		</dict>
		<key>DFC659DE-B772-4D42-A3F6-1C19E375237A</key>
		<dict>
			<key>xpos</key>
			<integer>1005</integer>
			<key>ypos</key>
			<integer>1405</integer>
		</dict>
		<key>E0B1F55C-F5B8-4B38-A2BF-9BD6BFBB879F</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>F1107CAC-6645-40F5-8382-85C2EC9310CA</key>
		<dict>
			<key>xpos</key>
			<integer>1595</integer>
			<key>ypos</key>
			<integer>1335</integer>
		</dict>
		<key>F95CA534-6F98-4619-ABF4-638EF9D692E1</key>
		<dict>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>F9EBB369-BD82-49F9-9987-7A08F9B4125C</key>
		<dict>
			<key>xpos</key>
			<integer>985</integer>
			<key>ypos</key>
			<integer>985</integer>
		</dict>
		<key>FD7F0561-1CF1-45A3-B3E1-45957651F722</key>
		<dict>
			<key>xpos</key>
			<integer>1395</integer>
			<key>ypos</key>
			<integer>1430</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
