<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>08C8544F-3C1A-4014-A843-F5938CE6065A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BC08918-D330-4C1F-8C35-6DF0BFA32353</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BC08918-D330-4C1F-8C35-6DF0BFA32353</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E862150-95DD-4635-9676-EA949BB6E550</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E862150-95DD-4635-9676-EA949BB6E550</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CDD8E30-2648-4E9F-A259-CCFDDA0DD46E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BB637F9-F671-41BA-931D-3C4071E098AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28DA6F5E-E3E5-47E6-A33F-ABD0D4C3732D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8B920D02-C5F8-489D-9177-25CEF358A76A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>99D98E99-ECA6-4D30-9B09-3DCDAB2B75EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A736F654-3915-4EFF-813F-FD5E6CE44167</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B90E8E8-8DC4-489B-A2F4-056847B40A57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0429473-545D-4F8B-9605-BDAEEA519868</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DE4CCD3-7C26-41AD-9DD7-FEA1044236F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08C8544F-3C1A-4014-A843-F5938CE6065A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BB09A05-4336-4E9E-A01D-AC94DFB9A9BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BB637F9-F671-41BA-931D-3C4071E098AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8C7497B-008E-416E-847A-95D31DC2411D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B90E8E8-8DC4-489B-A2F4-056847B40A57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6DE4CCD3-7C26-41AD-9DD7-FEA1044236F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Websites</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.calimove.com/courses/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>28DA6F5E-E3E5-47E6-A33F-ABD0D4C3732D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"c17f0a2c5d57d3a198c9456c0bacea0af900b752.png","title":"Scott's Bass Lessons","arg":"sbl","subtitle":"Scott's Bass Lessons"},{"imagefile":"43334549915a16f6afcd784dd54a6d98b54cb7f6.png","title":"Discover Double Bass","arg":"ddb","subtitle":"Discover Double Bass"},{"title":"CaliMove","arg":"calimove","subtitle":"Calisthentics"}]</string>
				<key>keyword</key>
				<string>teachable</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>teach:able</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>7BB09A05-4336-4E9E-A01D-AC94DFB9A9BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>calimove</string>
						<key>outputlabel</key>
						<string>calimove</string>
						<key>uid</key>
						<string>8B920D02-C5F8-489D-9177-25CEF358A76A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sbl</string>
						<key>outputlabel</key>
						<string>sbl</string>
						<key>uid</key>
						<string>A736F654-3915-4EFF-813F-FD5E6CE44167</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>ddb</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4BB637F9-F671-41BA-931D-3C4071E098AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://scotts-bass-lessons.teachable.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>99D98E99-ECA6-4D30-9B09-3DCDAB2B75EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://reddit.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D0429473-545D-4F8B-9605-BDAEEA519868</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5B90E8E8-8DC4-489B-A2F4-056847B40A57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Home","subtitle":"Reddit home page"},{"title":"Subreddit","arg":"subreddit","subtitle":"Open a particular subreddit"}]</string>
				<key>keyword</key>
				<string>reddit</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Reddit</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B8C7497B-008E-416E-847A-95D31DC2411D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://reddit.com/r/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5CDD8E30-2648-4E9F-A259-CCFDDA0DD46E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter a subreddit</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2BC08918-D330-4C1F-8C35-6DF0BFA32353</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>r/</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>3E862150-95DD-4635-9676-EA949BB6E550</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>subreddit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6DE4CCD3-7C26-41AD-9DD7-FEA1044236F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>subreddit</string>
				<key>replacestring</key>
				<string>r/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>08C8544F-3C1A-4014-A843-F5938CE6065A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08C8544F-3C1A-4014-A843-F5938CE6065A</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>28DA6F5E-E3E5-47E6-A33F-ABD0D4C3732D</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>2BC08918-D330-4C1F-8C35-6DF0BFA32353</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>3E862150-95DD-4635-9676-EA949BB6E550</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>4BB637F9-F671-41BA-931D-3C4071E098AA</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>5B90E8E8-8DC4-489B-A2F4-056847B40A57</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>5CDD8E30-2648-4E9F-A259-CCFDDA0DD46E</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>6DE4CCD3-7C26-41AD-9DD7-FEA1044236F0</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>7BB09A05-4336-4E9E-A01D-AC94DFB9A9BC</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>99D98E99-ECA6-4D30-9B09-3DCDAB2B75EB</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>B8C7497B-008E-416E-847A-95D31DC2411D</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>D0429473-545D-4F8B-9605-BDAEEA519868</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
