<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>08C8544F-3C1A-4014-A843-F5938CE6065A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BC08918-D330-4C1F-8C35-6DF0BFA32353</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BC08918-D330-4C1F-8C35-6DF0BFA32353</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E862150-95DD-4635-9676-EA949BB6E550</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E862150-95DD-4635-9676-EA949BB6E550</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CDD8E30-2648-4E9F-A259-CCFDDA0DD46E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BB637F9-F671-41BA-931D-3C4071E098AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28DA6F5E-E3E5-47E6-A33F-ABD0D4C3732D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8B920D02-C5F8-489D-9177-25CEF358A76A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>99D98E99-ECA6-4D30-9B09-3DCDAB2B75EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A736F654-3915-4EFF-813F-FD5E6CE44167</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3BC704C9-2AD2-4A05-A610-81FC91148460</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B90E8E8-8DC4-489B-A2F4-056847B40A57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0429473-545D-4F8B-9605-BDAEEA519868</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>600DB4DD-AF07-4C3F-A088-E6C0F5020D1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAB81544-22AB-4C33-A740-8F179A057AAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DE4CCD3-7C26-41AD-9DD7-FEA1044236F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08C8544F-3C1A-4014-A843-F5938CE6065A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BB09A05-4336-4E9E-A01D-AC94DFB9A9BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BB637F9-F671-41BA-931D-3C4071E098AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8C7497B-008E-416E-847A-95D31DC2411D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B90E8E8-8DC4-489B-A2F4-056847B40A57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6DE4CCD3-7C26-41AD-9DD7-FEA1044236F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAB81544-22AB-4C33-A740-8F179A057AAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>789CAC04-96D6-4ACE-BE3B-0206DE1406F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>560611B2-16EC-4725-9CE6-31B337234864</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>73373F09-843A-4AF0-B251-74F805D3B122</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>690D542F-2B64-4ACA-A5A6-7404CFA8B441</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6994B696-CB26-45AB-AAD2-A8C4526289E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C1A5B283-5C90-4586-B61E-4196936887AE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9D145ECA-392B-464C-83CC-15E974AAA5DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5724FE9E-F406-47AB-A380-B5A3E86D0D55</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA8B7EDF-4F39-4D2F-B848-470B2D8DD7B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>34500F70-E5BB-411F-B015-4C36A2752A96</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8700D646-AAF3-47FE-916D-DF62147053A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8EBF4EE3-2539-4080-8A9D-3516323522B1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Websites</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://people.mozilla.org/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>01328502-4451-4316-9772-31F012178EA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://people.mozilla.org/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3672EEAF-7801-4862-B875-F0D89DA0FDFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://people.mozilla.org/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C3E40738-F829-4B15-ACC2-2A1419FF93B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.calimove.com/courses/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>28DA6F5E-E3E5-47E6-A33F-ABD0D4C3732D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://people.mozilla.org/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7CF22D9E-096B-4AEC-B816-BD57FCD73E0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>calimove</string>
						<key>outputlabel</key>
						<string>calimove</string>
						<key>uid</key>
						<string>8B920D02-C5F8-489D-9177-25CEF358A76A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sbl</string>
						<key>outputlabel</key>
						<string>sbl</string>
						<key>uid</key>
						<string>A736F654-3915-4EFF-813F-FD5E6CE44167</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ddb</string>
						<key>outputlabel</key>
						<string>ddb</string>
						<key>uid</key>
						<string>5333932B-66E0-4431-9E1B-B3243AC3A106</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4BB637F9-F671-41BA-931D-3C4071E098AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"c17f0a2c5d57d3a198c9456c0bacea0af900b752.png","title":"Scott's Bass Lessons","arg":"sbl","subtitle":"Scott's Bass Lessons"},{"imagefile":"43334549915a16f6afcd784dd54a6d98b54cb7f6.png","title":"Discover Double Bass","arg":"ddb","subtitle":"Discover Double Bass"},{"title":"CaliMove","arg":"calimove","subtitle":"Calisthentics"}]</string>
				<key>keyword</key>
				<string>teachable</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>teach:able</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>7BB09A05-4336-4E9E-A01D-AC94DFB9A9BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://scotts-bass-lessons.teachable.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>99D98E99-ECA6-4D30-9B09-3DCDAB2B75EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://courses.discoverdoublebass.com/courses</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3BC704C9-2AD2-4A05-A610-81FC91148460</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://reddit.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D0429473-545D-4F8B-9605-BDAEEA519868</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5B90E8E8-8DC4-489B-A2F4-056847B40A57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Home","subtitle":"Reddit home page"},{"title":"Subreddit","arg":"subreddit","subtitle":"Open a particular subreddit"}]</string>
				<key>keyword</key>
				<string>reddit</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Reddit</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B8C7497B-008E-416E-847A-95D31DC2411D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://reddit.com/r/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5CDD8E30-2648-4E9F-A259-CCFDDA0DD46E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter a subreddit</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2BC08918-D330-4C1F-8C35-6DF0BFA32353</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>subreddit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6DE4CCD3-7C26-41AD-9DD7-FEA1044236F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>subreddit</string>
				<key>replacestring</key>
				<string>r/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>08C8544F-3C1A-4014-A843-F5938CE6065A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>r/</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>3E862150-95DD-4635-9676-EA949BB6E550</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/u/0/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>789CAC04-96D6-4ACE-BE3B-0206DE1406F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/document/u/0/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>73373F09-843A-4AF0-B251-74F805D3B122</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sheets</string>
						<key>outputlabel</key>
						<string>sheets</string>
						<key>uid</key>
						<string>560611B2-16EC-4725-9CE6-31B337234864</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>docs</string>
						<key>outputlabel</key>
						<string>docs</string>
						<key>uid</key>
						<string>690D542F-2B64-4ACA-A5A6-7404CFA8B441</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cal</string>
						<key>outputlabel</key>
						<string>calendar</string>
						<key>uid</key>
						<string>C1A5B283-5C90-4586-B61E-4196936887AE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>translate</string>
						<key>outputlabel</key>
						<string>translate</string>
						<key>uid</key>
						<string>5724FE9E-F406-47AB-A380-B5A3E86D0D55</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>maps</string>
						<key>outputlabel</key>
						<string>maps</string>
						<key>uid</key>
						<string>34500F70-E5BB-411F-B015-4C36A2752A96</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>drive</string>
						<key>outputlabel</key>
						<string>drive</string>
						<key>uid</key>
						<string>8EBF4EE3-2539-4080-8A9D-3516323522B1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BAB81544-22AB-4C33-A740-8F179A057AAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://calendar.google.com/calendar/u/0/r?tab=ic</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6994B696-CB26-45AB-AAD2-A8C4526289E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"aba71fdcd77a8ca0dc9f08a87f80d4692b176c9d.png","title":"sheets","arg":"sheets","subtitle":"Google Sheets"},{"imagefile":"4057a99cb36f9cd2711a902f8fcd2315333d2863.png","title":"docs","arg":"docs","subtitle":"Google Docs"},{"imagefile":"180eca95559bb51a91394b8fcd706d3d3597023f.png","title":"cal","arg":"cal","subtitle":"Google Calendar"},{"imagefile":"f6219655bdd4f4c67aecb2bd7ca47b7831c7e8c7.png","title":"translate","arg":"translate","subtitle":"Google Translate"},{"imagefile":"23c8405db17c0a858061ea034c5e9936d41d6858.png","title":"maps","arg":"maps","subtitle":"Google Maps"},{"imagefile":"a3365f7ebe4d91ad2c492979a9733054b1f6a9d3.png","title":"drive","arg":"drive","subtitle":"Google Drive"}]</string>
				<key>keyword</key>
				<string>g</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>google</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>600DB4DD-AF07-4C3F-A088-E6C0F5020D1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://translate.google.ca/?hl=en</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9D145ECA-392B-464C-83CC-15E974AAA5DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.ca/maps?hl=en&amp;tab=cl</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AA8B7EDF-4F39-4D2F-B848-470B2D8DD7B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://drive.google.com/drive/my-drive</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8700D646-AAF3-47FE-916D-DF62147053A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01328502-4451-4316-9772-31F012178EA0</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>08C8544F-3C1A-4014-A843-F5938CE6065A</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>28DA6F5E-E3E5-47E6-A33F-ABD0D4C3732D</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>2BC08918-D330-4C1F-8C35-6DF0BFA32353</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>3672EEAF-7801-4862-B875-F0D89DA0FDFB</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>3BC704C9-2AD2-4A05-A610-81FC91148460</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>3E862150-95DD-4635-9676-EA949BB6E550</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>4BB637F9-F671-41BA-931D-3C4071E098AA</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>5B90E8E8-8DC4-489B-A2F4-056847B40A57</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>5CDD8E30-2648-4E9F-A259-CCFDDA0DD46E</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>600DB4DD-AF07-4C3F-A088-E6C0F5020D1E</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>6994B696-CB26-45AB-AAD2-A8C4526289E3</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>835</integer>
		</dict>
		<key>6DE4CCD3-7C26-41AD-9DD7-FEA1044236F0</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>73373F09-843A-4AF0-B251-74F805D3B122</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>805</integer>
		</dict>
		<key>789CAC04-96D6-4ACE-BE3B-0206DE1406F0</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>7BB09A05-4336-4E9E-A01D-AC94DFB9A9BC</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>7CF22D9E-096B-4AEC-B816-BD57FCD73E0C</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>8700D646-AAF3-47FE-916D-DF62147053A8</key>
		<dict>
			<key>xpos</key>
			<integer>1120</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>99D98E99-ECA6-4D30-9B09-3DCDAB2B75EB</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>9D145ECA-392B-464C-83CC-15E974AAA5DE</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>AA8B7EDF-4F39-4D2F-B848-470B2D8DD7B7</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>B8C7497B-008E-416E-847A-95D31DC2411D</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>BAB81544-22AB-4C33-A740-8F179A057AAF</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>C3E40738-F829-4B15-ACC2-2A1419FF93B1</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D0429473-545D-4F8B-9605-BDAEEA519868</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
